<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="second.project.mungFriend.mypage.admin.model.dao.AdminInquiryMapper">

	<resultMap type="Inquiry" id="inquiry_rm">
		<id property="inquiryNo" column="INQUIRY_NO" />
		<result property="memberNo" column="MEMBER_NO" />
		<result property="inquiryTitle" column="INQUIRY_TITLE" />
		<result property="inquiryContent" column="INQUIRY_CONTENT" />
		<result property="inquiryDate" column="INQUIRY_DATE" />
		<result property="inquiryStatus" column="INQUIRY_STATUS" />
		<result property="inquiryCompleteDate" column="INQUIRY_COMPLETE_DATE" />
		<result property="memberNickname" column="MEMBER_NICKNAME" />
		<result property="adminReply" column="ADMINREPLY" />
	</resultMap>
	 
	<select id="adminInquiryBox" resultMap="inquiry_rm">
        SELECT INQUIRY_NO, MEMBER_NO, INQUIRY_TITLE, INQUIRY_CONTENT, 
		INQUIRY_DATE, INQUIRY_STATUS, INQUIRY_COMPLETE_DATE, MEMBER_NICKNAME
		FROM INQUIRY
		LEFT JOIN "MEMBER" USING(MEMBER_NO)
    </select>
	
	
	<!-- 1:1 문의 상세 조회 -->
	<select id="adminInquiryDetail" resultMap="inquiry_rm">
		SELECT INQUIRY_NO, MEMBER_NO, INQUIRY_TITLE, INQUIRY_CONTENT, 
		INQUIRY_DATE, INQUIRY_STATUS, INQUIRY_COMPLETE_DATE, MEMBER_NICKNAME, ADMINREPLY
		FROM INQUIRY
		LEFT JOIN "MEMBER" USING(MEMBER_NO)
		WHERE INQUIRY_NO = #{inquiryNo}
	</select>


	<update id="completeAnswer" >
		UPDATE INQUIRY
		SET ADMINREPLY= #{adminReply},
		INQUIRY_STATUS = 'Y'
		WHERE INQUIRY_NO = #{inquiryNo}
	</update>


	

	
</mapper>