<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="second.project.mungFriend.mypage.admin.model.dao.AdminReservationListMapper">
	
	<!-- Reservation resultMap -->
	<resultMap type="Reservation" id="reserve_rm">
		<id property="reserveNo" column="RESERVE_NO"/>
		
		<result property="dogNo" column="DOG_NO"/>
		<result property="memberNo" column="MEMBER_NO"/>
		<result property="reserveDate" column="RESERVE_DATE"/>
		<result property="reserveTime" column="RESERVE_TIME"/>
		<result property="reserveFl" column="RESERVE_YN"/>
		<result property="applicationDate" column="APPLICATION_DATE"/>
		
		<result property="dogName" column="DOG_NAME"/>
		<result property="memberName" column="MEMBER_NAME"/>
		<result property="memberEmail" column="MEMBER_EMAIL"/>
		
		<result property="breedName" column="BREED_NAME"/>
		<result property="dogBirthDay" column="DOG_BIRTHDAY"/>
		<result property="dogGender" column="DOG_GENDER"/>
		
		<result property="imgPath" column="IMG_PATH"/>
		<result property="imgRename" column="IMG_RENAME"/>

	</resultMap>



	
	<!-- 검색기능 없는 게시글 목록 조회 -->
	<select id="selectReservationList" resultMap="reserve_rm">
		SELECT RESERVE_NO, DOG_NAME, MEMBER_NAME, MEMBER_EMAIL,
				TO_CHAR(RESERVE_DATE, 'YYYY-MM-DD') AS RESERVE_DATE,
				RESERVE_TIME,
				<![CDATA[
				NVL(
					CASE 
						WHEN RESERVE_YN = 'Y' THEN '예약 완료'
					END, '예약 취소'
				) RESERVE_YN,
				]]>
				TO_CHAR(APPLICATION_DATE, 'YYYY-MM-DD') AS APPLICATION_DATE,
				DOG_NO
		FROM DOG_RESERVATION
		LEFT JOIN DOG USING(DOG_NO)
		LEFT JOIN MEMBER USING(MEMBER_NO)
		ORDER BY RESERVE_DATE DESC
	</select>
	
	<!-- 검색기능으로 게시글 목록 조회 -->
	<select id="selectSearchReservationList" resultMap="reserve_rm">
		SELECT RESERVE_NO, DOG_NAME, MEMBER_NAME, MEMBER_EMAIL,
				TO_CHAR(RESERVE_DATE, 'YYYY-MM-DD') AS RESERVE_DATE,
				RESERVE_TIME,
				<![CDATA[
				NVL(
					CASE 
						WHEN RESERVE_YN = 'Y' THEN '예약 완료'
					END, '예약 취소'
				) RESERVE_YN,
				]]>
				TO_CHAR(APPLICATION_DATE, 'YYYY-MM-DD') AS APPLICATION_DATE,
				DOG_NO
		FROM DOG_RESERVATION
		LEFT JOIN DOG USING(DOG_NO)
		LEFT JOIN MEMBER USING(MEMBER_NO)
		WHERE DOG_NAME LIKE '%${query}%'
		ORDER BY RESERVE_DATE DESC
	</select>
	
	<!-- 예약 내역 삭제 -->
	<update id="cancelReservation">
		UPDATE DOG_RESERVATION dr
		SET RESERVE_YN = 'N'
		WHERE dr.RESERVE_NO = #{reserveNo}
		AND dr.MEMBER_NO = (
		    SELECT MEMBER_NO
		    FROM (
		        SELECT MEMBER_NO
		        FROM MEMBER
		        WHERE MEMBER_EMAIL = #{memberEmail}
		        AND ROWNUM = 1
		    )
		)
	</update>
	
	
	
	
</mapper>
