<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="second.project.mungFriend.adopt.model.dao.AdoptMapper">
	
	<!-- Dog resultMap -->
	<resultMap type="Dog" id="dog_rm">
		<id property="dogNo" column="DOG_NO"/>
		
		<result property="breedNo" column="BREED_NO"/>
		<result property="dogName" column="DOG_NAME"/>
		<result property="dogBirthDay" column="DOG_BIRTHDAY"/>
		<result property="dogGender" column="DOG_GENDER"/>
		<result property="dogSize" column="DOG_SIZE"/>		
		<result property="dogPersonality" column="DOG_PERSONALITY"/>
		<result property="dogNeutering" column="DOG_NEUTERING_YN"/>
		<result property="dogVaccine" column="DOG_VACCINE_YN"/>
		<result property="dogLike" column="DOG_LIKE"/>
		<result property="dogHate" column="DOG_HATE"/>
		<result property="dogSpecialNote" column="DOG_SIGNIFICANT"/>
		<result property="dogAdmissionDate" column="DOG_ADMISSION_DATE"/>
		<result property="dogAdoptFl" column="DOG_ADOPT_FL"/>
		<result property="dogAdoptDate" column="DOG_ADOPT_DATE"/>
			
		<result property="breedName" column="BREED_NAME"/>
		<result property="thumbnail" column="THUMBNAIL"/>
		
		<result property="imgPath" column="IMG_PATH"/>
		<result property="imgRename" column="IMG_RENAME"/>
		
		<collection property="imageList" 
					select="selectImageList"
					column="DOG_NO"
					javaType="java.util.ArrayList"
					ofType="DogImage"
		/>
	</resultMap>
	
	<!-- DogImage resultMap -->
	<resultMap type="DogImage" id="dogImage_rm">
		<id property="imageNo" column="IMG_NO"/>
		
		<result property="dogNo" column="DOG_NO"/>
		<result property="imagePath" column="IMG_PATH"/>
		<result property="imageReName" column="IMG_RENAME"/>
		<result property="imageOriginal" column="IMG_ORIGINAL"/>
		<result property="imageOrder" column="IMG_ORDER"/>
	</resultMap>
	
	<!-- Reservation resultMap -->
	<resultMap type="Reservation" id="reserve_rm">
		<id property="reserveNo" column="RESERVE_NO"/>
		
		<result property="dogNo" column="DOG_NO"/>
		<result property="memberNo" column="MEMBER_NO"/>
		<result property="reserveDate" column="RESERVE_DATE"/>
		<result property="reserveTime" column="RESERVE_TIME"/>
		<result property="reserveFl" column="RESERVE_YN"/>
		<result property="applicationDate" column="APPLICATION_DATE"/>
	</resultMap>

	<!-- 삭제되지않은 강아지 수 조회 -->
	<select id="getListCount" resultType="_int">
		SELECT COUNT(*) FROM DOG
		WHERE DOG_ADOPT_FL = 'N'
	</select>	
	
	<!-- 강아지 목록 조회 (일반 전체 조회) -->
	<select id="selectDogList" resultMap="dog_rm">
		SELECT DOG_NAME, DOG_NO,
				IMG_PATH, IMG_RENAME, BREED_NAME
		FROM DOG
		LEFT JOIN DOG_BREED USING(BREED_NO)
		LEFT JOIN DOG_IMG USING(DOG_NO)
		WHERE DOG_ADOPT_FL = 'N'
		AND IMG_ORDER = 0 
		ORDER BY DOG_ADMISSION_DATE DESC
	</select>
	
	<!-- 필터기능 구현을 위한 모든 견종 조회 -->
	<select id="selectDogBreed" resultMap="dog_rm">
		SELECT DISTINCT BREED_NAME
		FROM DOG
		LEFT JOIN DOG_BREED db USING(BREED_NO)
		WHERE DOG_ADOPT_FL = 'N'
	</select>
	
	<!-- 조건에 맞는 강아지수 조회 -->
	<select id="getSearchListCount" resultType="_int">
		SELECT COUNT(*)
		FROM DOG
			LEFT JOIN DOG_BREED USING(BREED_NO)
			LEFT JOIN DOG_IMG USING(DOG_NO)
		WHERE DOG_ADOPT_FL = 'N'
			AND IMG_ORDER = 0
			AND (
        		(DOG_BIRTHDAY BETWEEN #{fromDate} AND #{toDate})
        		OR
        		DOG_BIRTHDAY IS NULL
        		OR
        		(#{fromDate} IS NULL AND #{toDate} IS NULL)
	        	)
        	AND (DOG_GENDER = #{dogGender} OR #{dogGender} is null)
        	AND (BREED_NAME = #{breedName} OR #{breedName} is null)
        	AND (DOG_SIZE = #{dogSize} OR #{dogSize} is null)
        	AND (DOG_NEUTERING_YN = #{dogNeutering} OR #{dogNeutering} is null)
	</select>	
	
	<!-- 강아지 목록 조회 (필터 조회) -->
	<select id="searchDogList" resultMap="dog_rm">
		SELECT DOG_NAME, DOG_NO,
		    IMG_PATH, IMG_RENAME, BREED_NAME
		FROM DOG
			LEFT JOIN DOG_BREED USING(BREED_NO)
			LEFT JOIN DOG_IMG USING(DOG_NO)
		WHERE DOG_ADOPT_FL = 'N'
			AND IMG_ORDER = 0
			AND (
        		(DOG_BIRTHDAY BETWEEN #{fromDate} AND #{toDate})
        		OR
        		DOG_BIRTHDAY IS NULL
        		OR
        		(#{fromDate} IS NULL AND #{toDate} IS NULL)
	        	)
        	AND (DOG_GENDER = #{dogGender} OR #{dogGender} is null)
        	AND (BREED_NAME = #{breedName} OR #{breedName} is null)
        	AND (DOG_SIZE = #{dogSize} OR #{dogSize} is null)
        	AND (DOG_NEUTERING_YN = #{dogNeutering} OR #{dogNeutering} is null)
	    ORDER BY DOG_ADMISSION_DATE DESC
	</select>
	
	
	<!-- 게시글 한 개 조회 -->
	<select id="selectDogDetail" resultMap="dog_rm">
		SELECT D.DOG_NO, D.BREED_NO, DB.BREED_NAME, D.DOG_NAME,
			<![CDATA[
			NVL(
		        CASE WHEN MONTHS_BETWEEN(CURRENT_DATE, D.DOG_BIRTHDAY) <= 12
		            THEN ROUND(MONTHS_BETWEEN(CURRENT_DATE, D.DOG_BIRTHDAY)) || '개월'
		            ELSE ROUND(MONTHS_BETWEEN(CURRENT_DATE, D.DOG_BIRTHDAY) / 12) || '세'
		        END,
		        '알 수 없음'
		    ) DOG_BIRTHDAY,
		    ]]>
			D.DOG_GENDER, D.DOG_SIZE, D.DOG_PERSONALITY,
			CASE WHEN D.DOG_NEUTERING_YN = 'Y' THEN '완료' ELSE '미완료' END AS DOG_NEUTERING_YN,
			CASE WHEN D.DOG_VACCINE_YN = 'Y' THEN '완료' ELSE '미완료' END AS DOG_VACCINE_YN,
			D.DOG_LIKE, D.DOG_HATE, 
			CASE WHEN D.DOG_SIGNIFICANT IS NULL THEN '-' ELSE DOG_SIGNIFICANT END AS DOG_SIGNIFICANT,
			TO_CHAR(D.DOG_ADMISSION_DATE, 'YYYY"년" MM"월" DD"일"') DOG_ADMISSION_DATE			
		FROM "DOG" D
		JOIN DOG_BREED DB ON D.BREED_NO = DB.BREED_NO
		WHERE D.DOG_ADOPT_FL = 'N'
		AND D.DOG_NO = #{dogNo}
	</select>

	<!-- 특정 게시글 이미지 조회 -->
	<select id="selectImageList" resultMap="dogImage_rm">
		SELECT * FROM DOG_IMG
		WHERE DOG_NO = #{dogNo}
		ORDER BY IMG_ORDER
	</select>
	
	<!-- 좋아요 여부 확인 -->
	<select id="dogLikeCheck" resultType="_int">
		SELECT COUNT(*) FROM DOG_LIKE
		WHERE DOG_NO = #{dogNo}
		AND MEMBER_NO = #{memberNo}
	</select>
	
	<!-- 예약여부 확인 -->
	<select id="reserveCheck" resultType ="_int">
		SELECT COUNT(*) FROM DOG_RESERVATION
		WHERE MEMBER_NO = #{memberNo}
		AND DOG_NO = #{dogNo}
		AND RESERVE_YN = 'Y'
	</select>
	
	<!-- 좋아요 처리 -->
	<!-- 좋아요 테이블 삽입 -->
	<insert id="insertDogLike">
		INSERT INTO "DOG_LIKE" VALUES (SEQ_LIKE_NO.NEXTVAL, #{dogNo}, #{memberNo})
	</insert>
	
	<!-- 좋아요 삭제 -->
	<delete id="deleteDogLike">
		DELETE FROM "DOG_LIKE"
		WHERE DOG_NO = #{dogNo}
		AND MEMBER_NO = #{memberNo}
	</delete>
	
	
	<!-- ************************************************************************************ -->


	<!-- *****************insert****************** -->
	
	<!-- 견종확인 -->
	<select id="breedConfirm" resultType="string">
		SELECT COALESCE(BREED_NO, -1) FROM DOG_BREED WHERE BREED_NAME = #{breedName}
	</select>
	
	<!-- 견종추가 -->
	<insert id="breedAdd">
		INSERT INTO DOG_BREED
		VALUES(SEQ_BREED_NO.NEXTVAL, #{breedName})
	</insert>


	<!-- 강아지 정보 삽입 -->
	<insert id="insertDog" parameterType="Dog" useGeneratedKeys="true">
		<selectKey order="BEFORE" resultType="_int" keyProperty="dogNo">
			SELECT SEQ_DOG_NO.NEXTVAL 
        	FROM DUAL
		</selectKey>

			INSERT INTO DOG 
			VALUES( #{dogNo},
				(SELECT BREED_NO FROM DOG_BREED WHERE BREED_NAME = #{breedName}),
				#{dogName},
				TO_DATE(#{dogBirthDay}, 'YYYY-MM-DD'),
				#{dogGender}, 
				#{dogSize},
				#{dogPersonality},
				#{dogNeutering},
				#{dogVaccine},
				#{dogLike},
				#{dogHate},
				#{dogSpecialNote},
				DEFAULT, DEFAULT, DEFAULT )		
	</insert>
	
	<!-- 이미지 리스트(여러개) 삽입 -->
	<insert id="insertImage" parameterType="list">
		INSERT INTO DOG_IMG
		SELECT SEQ_DOG_IMG_NO.NEXTVAL, A.*
		FROM (
			<foreach collection="list" item="img" separator= " UNION ALL ">
				SELECT #{img.dogNo} DOG_NO,
					#{img.imagePath} IMG_PATH, 
					#{img.imageReName} IMG_RENAME,
					#{img.imageOriginal} IMG_ORIGINAL,
					#{img.imageOrder} IMG_ORDER
				FROM DUAL
			</foreach>
		) A
	</insert>
	
	<!-- 입소 신청에서 받아온 이미지 삽입 -->
	<insert id="insertAdmImg">
		INSERT INTO DOG_IMG
		VALUES(SEQ_DOG_IMG_NO.NEXTVAL, 
				#{dogNo},
				#{imgPath},
				#{imgRename},
				#{imgRename},
				0)
	</insert>
	
	
	<!-- *****************update****************** -->
	
	<!-- 수정화면 띄우기용 게시글 상세조회 -->
	<select id="selectDogDetailForUpdate" resultMap="dog_rm">
		SELECT D.DOG_NO, D.BREED_NO, DB.BREED_NAME, D.DOG_NAME,
			TO_CHAR(D.DOG_BIRTHDAY, 'YYYY-MM-DD') AS DOG_BIRTHDAY,
			D.DOG_GENDER, D.DOG_SIZE, D.DOG_PERSONALITY,
			D. DOG_NEUTERING_YN,
			D. DOG_VACCINE_YN,
			D.DOG_LIKE, D.DOG_HATE, 
			CASE WHEN D.DOG_SIGNIFICANT IS NULL THEN '-' ELSE DOG_SIGNIFICANT END AS DOG_SIGNIFICANT,
			TO_CHAR(D.DOG_ADMISSION_DATE, 'YYYY"년" MM"월" DD"일"') DOG_ADMISSION_DATE			
		FROM "DOG" D
		JOIN DOG_BREED DB ON D.BREED_NO = DB.BREED_NO
		WHERE D.DOG_ADOPT_FL = 'N'
		AND D.DOG_NO = #{dogNo}
	</select>
	
	<!-- 강아지 수정 -->
	<update id="dogUpdate">  
		UPDATE "DOG" SET
			BREED_NO = (SELECT BREED_NO FROM DOG_BREED WHERE BREED_NAME = #{breedName}),
			DOG_NAME = #{dogName}, 
			DOG_BIRTHDAY = TO_DATE(#{dogBirthDay},'YYYY-MM-DD'), 
			DOG_GENDER = #{dogGender},
			DOG_SIZE = #{dogSize},
			DOG_PERSONALITY = #{dogPersonality},
			DOG_NEUTERING_YN = #{dogNeutering},
			DOG_VACCINE_YN = #{dogVaccine},
			DOG_LIKE = #{dogLike},
			DOG_HATE = #{dogHate},
			DOG_SIGNIFICANT = #{dogSpecialNote}
		WHERE DOG_NO = #{dogNo}
	</update>
	
	<!-- 이미지 삭제 -->
	<delete id="imageDelete">
		DELETE FROM "DOG_IMG"
		WHERE DOG_NO = #{dogNo}
		AND IMG_ORDER IN( ${deleteList} )
	</delete>
		
	<!-- 이미지 수정 -->
	<update id="imageUpdate">
		UPDATE "DOG_IMG" SET
		IMG_PATH = #{imagePath},
		IMG_ORIGINAL = #{imageOriginal},
		IMG_RENAME = #{imageReName}
		WHERE DOG_NO = #{dogNo}
		AND IMG_ORDER = #{imageOrder}
	</update>
	
	<!-- 이미지 삽입 -->
	<insert id="imageInsert">
		INSERT INTO "DOG_IMG"
		VALUES(SEQ_DOG_IMG_NO.NEXTVAL, #{dogNo}, #{imagePath}, #{imageReName},
			#{imageOriginal}, #{imageOrder}
		)
	</insert>	

	<!-- *****************delte****************** -->
	
	<!-- 강아지 삭제 -->
	<update id="dogDelete">
		UPDATE "DOG" SET
		DOG_ADOPT_FL = 'Y',
		DOG_ADOPT_DATE = CURRENT_DATE
		WHERE DOG_NO = #{dogNo}
	</update>
	
	
	<!-- 강아지 삭제 해당 예약 취소 -->
	<update id="updateReservation">
		UPDATE DOG_RESERVATION SET RESERVE_YN = 'N'
		WHERE DOG_NO = #{dogNo} 
	</update>
	
	
	<!-- 강아지 입양 시 예약했던 회원번호 조회 -->	
	<select id="selectReservation" resultType="_int">
		SELECT MEMBER_NO
    	FROM DOG_RESERVATION
    	WHERE DOG_NO = #{dogNo} AND
    	RESERVE_YN = 'N'
	</select>
	
	
	<!-- 알림 테이블 삽입 -->
	<insert id="insertAlarm" parameterType="map">
		INSERT INTO ALARM
		SELECT SEQ_ALARM_NO.NEXTVAL, A.*
		FROM (
	  		
	  		<foreach collection="memberNoList" item="memberNo" separator= " UNION ALL ">
				SELECT 	#{memberNo}	MEMBER_NO,
						'N' CHECK_YN,
						'D' ALARM_CATEGORY,
						(SELECT IMG_PATH FROM DOG_IMG WHERE DOG_NO = #{dogNo} AND IMG_ORDER = 0) ALARM_IMG_PATH,
						(SELECT IMG_RENAME FROM DOG_IMG WHERE DOG_NO = #{dogNo} AND IMG_ORDER = 0) 	ALARM_IMG_RENAME
				FROM DUAL	
	  		</foreach>
	  	) A
		
	</insert>
	
	

	<!-- *****************강아지 예약하기****************** -->
	
	<!-- 예약하기 -->
	<insert id="dogReservation">
		INSERT INTO DOG_RESERVATION
		VALUES(SEQ_RESERVE_NO.NEXTVAL, 
				#{dogNo}, #{memberNo}, TO_DATE(#{reservationData.reserveDate},'YYYY-MM-DD'), #{reservationData.reserveTime}, 
				DEFAULT, DEFAULT, DEFAULT)
	</insert>
	
		
	<!-- 예약 가능한 날짜와 시간 조회 -->
	<select id="getReservedTimes" resultType ="string">
		SELECT RESERVE_TIME
		FROM DOG_RESERVATION
		WHERE RESERVE_DATE = TO_DATE(#{selectedDate},'YYYY-MM-DD')
		AND RESERVE_YN = 'Y'
		AND DOG_NO = #{dogNo}
	</select>
	

<!-- ===============================챗봇==============================================  -->



	<!-- 검색한 강아지 마리수 조회 -->
	<select id="getSearchDogListCount" resultType="_int">
		SELECT COUNT(*) FROM DOG
		JOIN DOG_BREED db USING(BREED_NO)
		WHERE DOG_ADOPT_FL = 'N' AND 
		BREED_NAME = #{breedName}
	</select>
	
	
	<select id="selectChatbotDogList"  resultMap="dog_rm">
		SELECT DOG_NAME, DOG_NO,
			(SELECT IMG_PATH || IMG_RENAME FROM DOG_IMG I
			WHERE I.DOG_NO = D.DOG_NO
			AND IMG_ORDER = 0) THUMBNAIL
		FROM DOG D
		JOIN DOG_BREED db USING(BREED_NO)
		WHERE DOG_ADOPT_FL = 'N' AND 
		BREED_NAME LIKE '%' || #{breedName} || '%'
		ORDER BY DOG_ADMISSION_DATE DESC
	</select>
	
	
</mapper>
