<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="second.project.mungFriend.donation.model.dao.DonationMapper">
	
	<resultMap type="Donation" id="donation_rm">
		<id property="donationNo" column="DONATION_NO"/>
		
		<result property="memberNo" column="MEMBER_NO"/>
		<result property="donationContent" column="DONATION_CONTENT"/>
		<result property="donationType" column="DONATION_TYPE"/>
		<result property="donationAmount" column="DONATION_AMOUNT"/>
		<result property="donationDate" column="DONATION_DATE"/>		
		<result property="donationStatus" column="DONATION_STATUS"/>
		
		<result property="memberName" column="MEMBER_NAME"/>		
		<result property="memberEmail" column="MEMBER_EMAIL"/>		
	
	</resultMap>
	
	<!-- 회원 후원 등록 -->
	<insert id = "donationMemberPay">
		INSERT INTO TEST_DONATION  
		VALUES(SEQ_DONATION_NO.NEXTVAL, #{memberNo},  
		       #{donationContent}, #{donationType}, #{donationAmount}, SYSDATE, #{status})	
	</insert>
	
	<!-- 비회원 후원 등록 -->
	<insert id = "donationNonMemberPay">
		INSERT INTO TEST_NON_DONATION 
		VALUES (SEQ_NON_DONATION_NO.NEXTVAL, #{memberName}, 
		       #{memberEmail}, #{donationContent} , #{donationType},  #{donationAmount}, SYSDATE, #{status})

	</insert>
	
	<!-- 후원 내역 개수 ( 마이페이지/ 관리자 ) --> 
	<select id = "countDonationList" resultType = "_int">
		SELECT COUNT(*)
		FROM (SELECT DONATION_NO 
				FROM TEST_DONATION
				LEFT JOIN "MEMBER" USING(MEMBER_NO)
				UNION ALL
			SELECT NON_DONATION_NO 
				FROM TEST_NON_DONATION)
	</select>
	
	
	<!-- 후원 내역 확인 ( 마이페이지/ 관리자 ) --> 
	<select id = "selectDonationList" resultMap = "donation_rm">
		SELECT *
		FROM (SELECT DONATION_NO , MEMBER_NAME, MEMBER_EMAIL, DONATION_CONTENT,
				    CASE 
				        WHEN DONATION_TYPE = 'O' THEN '일시' 
				        WHEN DONATION_TYPE = 'R' THEN '정기' 
				        ELSE DONATION_TYPE 
				    END AS DONATION_TYPE
				    ,DONATION_AMOUNT , DONATION_DATE , DONATION_STATUS 
		FROM TEST_DONATION
		LEFT JOIN "MEMBER" USING(MEMBER_NO)
		UNION ALL
		SELECT NON_DONATION_NO , MEMBER_NAME, MEMBER_EMAIL, DONATION_CONTENT,
				    CASE 
				        WHEN DONATION_TYPE = 'O' THEN '일시'  
				        ELSE DONATION_TYPE 
				    END AS DONATION_TYPE
				    ,DONATION_AMOUNT , DONATION_DATE , DONATION_STATUS 
		FROM TEST_NON_DONATION)
		ORDER BY DONATION_DATE DESC
	</select>
	
	
	<!-- 후원 내역 검색 개수 ( 마이페이지/ 관리자 ) --> 
	<select id = "countSearchDonationList" resultType = "_int">
		SELECT COUNT(*)
		FROM (SELECT DONATION_NO ,MEMBER_NAME
				FROM TEST_DONATION
				LEFT JOIN "MEMBER" USING(MEMBER_NO)
				UNION ALL
			SELECT NON_DONATION_NO ,MEMBER_NAME
				FROM TEST_NON_DONATION)
		WHERE MEMBER_NAME LIKE '%${donationSearch}%'
	</select>
	
	
	<!-- 후원 내역 검색 확인 (마이페이지 / 관리자 ) -->
	<select id = "searchDonationList" resultMap = "donation_rm">
		SELECT *
		FROM (SELECT DONATION_NO , MEMBER_NAME, MEMBER_EMAIL, DONATION_CONTENT,
				    CASE 
				        WHEN DONATION_TYPE = 'O' THEN '일시' 
				        WHEN DONATION_TYPE = 'R' THEN '정기' 
				        ELSE DONATION_TYPE 
				    END AS DONATION_TYPE
				    ,DONATION_AMOUNT , DONATION_DATE , DONATION_STATUS 
		FROM TEST_DONATION
		LEFT JOIN "MEMBER" USING(MEMBER_NO)
		UNION ALL
		SELECT NON_DONATION_NO , MEMBER_NAME, MEMBER_EMAIL, DONATION_CONTENT,
				    CASE 
				        WHEN DONATION_TYPE = 'O' THEN '일시' 
				        ELSE DONATION_TYPE 
				    END AS DONATION_TYPE
				    ,DONATION_AMOUNT , DONATION_DATE , DONATION_STATUS 
		FROM TEST_NON_DONATION)
		WHERE MEMBER_NAME LIKE '%${donationSearch}%'
		ORDER BY DONATION_DATE DESC
	</select>
	
	
	<!-- 후원 내역 개수 확인 ( 마이페이지/ 유저  ) --> 
	<select id = "countUserDonation" resultType = "_int">
		SELECT COUNT(DONATION_NO)  
		FROM TEST_DONATION
		LEFT JOIN "MEMBER" USING(MEMBER_NO)
		WHERE MEMBER_NO = #{memberNo}
		ORDER BY DONATION_DATE DESC
	</select>	
	
	<!-- 후원 내역 확인 ( 마이페이지/ 유저  ) --> 
	<select id = "userDonationList" resultMap = "donation_rm">
		SELECT DONATION_NO , MEMBER_NAME, MEMBER_EMAIL, DONATION_CONTENT, 
		    CASE 
		        WHEN DONATION_TYPE = 'O' THEN '일시' 
		        WHEN DONATION_TYPE = 'R' THEN '정기' 
		        ELSE DONATION_TYPE 
		    END AS DONATION_TYPE
		    ,DONATION_AMOUNT , DONATION_DATE , DONATION_STATUS 
		FROM TEST_DONATION
		LEFT JOIN "MEMBER" USING(MEMBER_NO)
		WHERE MEMBER_NO = #{memberNo}
		ORDER BY DONATION_DATE DESC
	</select>
	

</mapper>
