<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="second.project.mungFriend.event.model.dao.EventMapper">
	
	<resultMap type="Coupon" id="coupon_rm">
		<id property="couponNo" column="COUPON_NO"/>
		
		<result property="memberNo" column="MEMBER_NO"/>
		<result property="couponContentNo" column="COUPON_CONTENT_NO"/>
		<result property="couponDate" column="COUPON_DATE"/>
		<result property="couponStatus" column="COUPON_STATUS"/>
		<result property="couponExpiration" column="COUPON_EXPIRATION"/>
		
		
		<result property="couponContent" column="COUPON_CONTENT"/>		
		<result property="couponImg" column="COUPON_IMG"/>
		<result property="correctMin" column="CORRECT_MIN"/>		
		<result property="correctMax" column="CORRECT_MAX"/>		
	</resultMap>
	

	<!-- 쿠폰 내역 가져오기 (마이페이지 / 사용자) -->
	<select id = "selectCouponList"  resultMap = "coupon_rm">
		SELECT COUPON_NO, MEMBER_NO, COUPON_CONTENT_NO, COUPON_DATE,  TO_CHAR(COUPON_DATE+30, 'YYYY-MM-DD')AS COUPON_EXPIRATION,
				COUPON_STATUS, COUPON_CONTENT, COUPON_IMG
		FROM TEST_COUPON
		LEFT JOIN MEMBER USING(MEMBER_NO)
		LEFT JOIN TEST_COUPON_CONTENT USING(COUPON_CONTENT_NO)
		WHERE COUPON_STATUS = 'Y' 
		AND MEMBER_NO = #{memberNo}			
	</select>

	<!-- 유효기간이 지난 쿠폰 개수 확인 (스케쥴링) -->
	<select id = "countExpiration" resultType= "_int">
		SELECT COUNT(*)
		FROM TEST_COUPON 
		LEFT JOIN TEST_COUPON_CONTENT USING(COUPON_CONTENT_NO)
		WHERE COUPON_STATUS = 'Y'
		<![CDATA[ 
		AND COUPON_DATE+30 <= TO_DATE(#{formateNow}, 'YYYY-MM-DD')	
		]]>	
	</select>

	<!-- 유효기간이 지난 쿠폰 update하기 (스케쥴링) -->
	<update id = "updateCountExpiration">
		UPDATE TEST_COUPON 
		SET COUPON_STATUS = 'N'
		WHERE COUPON_STATUS = 'Y'
		<![CDATA[ 
		AND COUPON_DATE+30 <= TO_DATE(#{formateNow}, 'YYYY-MM-DD')	
		]]>	
	</update>	

</mapper>
