<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="second.project.mungFriend.event.model.dao.EventMapper">
	
	<resultMap type="Coupon" id="coupon_rm">
		<id property="couponNo" column="COUPON_NO"/>
		
		<result property="memberNo" column="MEMBER_NO"/>
		<result property="couponContentNo" column="COUPON_CONTENT_NO"/>
		<result property="couponDate" column="COUPON_DATE"/>
		<result property="couponStatus" column="COUPON_STATUS"/>
		<result property="couponExpiration" column="COUPON_EXPIRATION"/>
		
		
		<result property="couponContent" column="COUPON_CONTENT"/>		
		<result property="couponImg" column="COUPON_IMG"/>
		<result property="correctMin" column="CORRECT_MIN"/>		
		<result property="correctMax" column="CORRECT_MAX"/>		
	</resultMap>
	
	
	<resultMap type="Quiz" id="quiz_rm">
		<id property="quizNo" column="QUIZ_NO"/>
		
		<result property="quizContent" column="QUIZ_CONTENT"/>
		<result property="quizChoice1" column="QUIZ_CHOICE1"/>
		<result property="quizChoice2" column="QUIZ_CHOICE2"/>
		<result property="quizChoice3" column="QUIZ_CHOICE3"/>
		<result property="quizChoice4" column="QUIZ_CHOICE4"/>
		
		
		<result property="quizAnswerNo" column="QUIZ_ANSWER_NO"/>		
		<result property="answerNo" column="ANSWER_NO"/>
		
		<result property="quizImgNo" column="QUIZ_IMG_NO"/>		
		<result property="quizDogImg" column="QUIZ_DOG_IMG"/>		
		<result property="quizEyes" column="QUIZ_EYES"/>		
		<result property="quizNose" column="QUIZ_NOSE"/>		
		<result property="quizMouth" column="QUIZ_MOUTH"/>		
		<result property="quizLeftEar" column="QUIZ_LEFT_EAR"/>		
		<result property="quizRightEar" column="QUIZ_RIGHT_EAR"/>
				
	</resultMap>

	

	<!-- 쿠폰 내역 가져오기 (마이페이지 / 사용자) -->
	<select id = "selectCouponList"  resultMap = "coupon_rm">
		SELECT COUPON_NO, MEMBER_NO, COUPON_CONTENT_NO, COUPON_DATE,  TO_CHAR(COUPON_DATE+30, 'YYYY-MM-DD')AS COUPON_EXPIRATION,
				COUPON_STATUS, COUPON_CONTENT, COUPON_IMG
		FROM TEST_COUPON
		LEFT JOIN MEMBER USING(MEMBER_NO)
		LEFT JOIN TEST_COUPON_CONTENT USING(COUPON_CONTENT_NO)
		WHERE COUPON_STATUS = 'Y' 
		AND MEMBER_NO = #{memberNo}			
	</select>

	<!-- 유효기간이 지난 쿠폰 개수 확인 (스케쥴링) -->
	<select id = "countExpiration" resultType= "_int">
		SELECT COUNT(*)
		FROM TEST_COUPON 
		LEFT JOIN TEST_COUPON_CONTENT USING(COUPON_CONTENT_NO)
		WHERE COUPON_STATUS = 'Y'
		<![CDATA[ 
		AND COUPON_DATE+30 <= TO_DATE(#{formateNow}, 'YYYY-MM-DD')	
		]]>	
	</select>

	<!-- 유효기간이 지난 쿠폰 update하기 (스케쥴링) -->
	<update id = "updateCountExpiration">
		UPDATE TEST_COUPON 
		SET COUPON_STATUS = 'N'
		WHERE COUPON_STATUS = 'Y'
		<![CDATA[ 
		AND COUPON_DATE+30 <= TO_DATE(#{formateNow}, 'YYYY-MM-DD')	
		]]>	
	</update>	
	
	
	
	<!--quiz 문제-->
	
	<!-- 게임에 참여했는지 확인--> 	
	<select id = "eventCheck">
		SELECT COUNT(*)
		FROM TEST_COUPON 
		WHERE MEMBER_NO = #{memberNo}
		AND COUPON_STATUS = 'Y'
	</select>		
	
	<!-- 문제 뽑기 (객관식) -->
	<select id = "chooseQuiz" resultMap = "quiz_rm">
		SELECT * FROM (
		    SELECT * 
		    FROM QUIZ
			LEFT JOIN QUIZ_ANSWER USING(QUIZ_NO)
			LEFT JOIN QUIZ_IMG  USING(QUIZ_NO)
		    ORDER BY DBMS_RANDOM.VALUE()
		<![CDATA[ ) WHERE ROWNUM <= 5
		]]>			
	</select>
	
	<!-- 쿠폰 선택 (점수) --> 
	<select id = "couponSelect" resultType = "_int">
		SELECT COUPON_CONTENT_NO
		FROM TEST_COUPON_CONTENT 
		<![CDATA[WHERE CORRECT_MIN <= #{totalScore} AND CORRECT_MAX > #{totalScore}
		]]>		
	</select>
	
	<!-- 쿠폰 등록 --> 
	<insert id = "couponInsert">
		INSERT INTO TEST_COUPON 
		VALUES (SEQ_COUPON_NO.NEXTVAL,#{memberNo},#{couponContentNo} ,CURRENT_DATE, DEFAULT, DEFAULT)
	</insert>
	
	


</mapper>
