<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">

<head>
	<title>병원,훈련소</title>

	<link rel="stylesheet" th:href="@{/css/centerInfo/map.css}">
	<!-- 카카오 지도 API 스크립트 추가 -->
	
</head>


<body>

	<th:block th:replace="~{common/header}"></th:block>

	<div id="map" style="width:800px;height:500px;"></div>

	<a th:href="@{/#}"><img th:src="@{/images/chat.png}" class="fixed-image" id="chat-image"></a>
	<a th:href="@{/#}"><img th:src="@{/images/donation.png}" class="fixed-image" id="donate-image"></a>
</body>
<script type="text/javascript"
		src="//dapi.kakao.com/v2/maps/sdk.js?appkey=34769af9905661e7c5ddc428c0f469a5"></script>
<script th:src="@{/js/centerInfo/map.js}"></script>
<th:block th:replace="~{common/footer}"></th:block>

</html>