<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>

	<link rel="stylesheet" th:href="@{/css/member/login.css}">
	<script type="text/javascript" src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.3.js" charset="utf-8"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
</head>
<body>
    <section>
		<!-- 헤더 -->
        <th:block th:replace="~{common/header}"></th:block>

        <!-- 내용 -->
        <div id="content">
            <!-- 왼쪽 여백 -->
            <div id="left-gap"></div>

            <!-- 로그인 영역 -->
            <div id="login-section">
                <!-- 로고 영역 -->
                <div id="logo-section">
                    <img th:src="@{/images/member/logo.png}" id="logo">
                </div>

                <!-- 로그인 form 영역 -->
                <div id="form-section">
                    <form th:action="@{/member/login}" method="POST" id="loginForm">
                        <div id="id-section">
                            아이디 <br>
                            <input type="text" id="id" name="memberId">
                        </div>
                        <div id="pw-section">
                            비밀번호 <br>
                            <input type="password" id="pw" name="memberPw">
                        </div>
                        <div id="link-section">
                            <div id="find-section">
                                <a th:href="@{/member/findId}">아이디</a>
                                &nbsp;/&nbsp;
                                <a th:href="@{/member/findPw}">비밀번호찾기</a>
                            </div>
                            <div id="signUp-section">
                                <a th:href="@{/member/signUp}">회원가입</a>
                            </div>
                        </div>
                        <div id="loginBtn-section">
                            <button type="submit" id="login-btn">로그인</button>
                        </div>
                    </form>
                </div>

                <!-- sns 영역 -->
                <div id="sns-section">
                    <div id="hr"><hr></div>
                    <div id="sns">
						<!--
						<div id="naver_id_login"></div>
						    <script type="text/javascript">
						        var naver_id_login = new naver_id_login("8n9tS4ylVHe09LIMLS7E", "http://localhost/member/oauth2/code/naver");
						        var state = naver_id_login.getUniqState();
						        naver_id_login.setButton("white", 2,40);
						        naver_id_login.setDomain("http://localhost");
						        naver_id_login.setState(state);
						        naver_id_login.setPopup();
						        naver_id_login.init_naver_id_login();
						    </script>
						  </div>
	                    <a th:href="@{|${naverUrl}|}"><img th:src="@{/images/member/naver.png}" id="naver"></a>
	                    <a th:href="#"><img th:src="@{/images/member/kakao.png}" id="kakao"></a>
	                    <a th:href="#"><img th:src="@{/images/member/google.png}" id="google"></a>
	                        <img th:src="@{/images/member/kakao.png}" id="kakao">
	                        <img th:src="@{/images/member/naver.png}" id="naver">
	                        <img th:src="@{/images/member/google.png}" id="google">
						-->
	                        <a th:href="@{|${naverUrl}|}"><img th:src="@{/images/member/naver.png}" id="naver"></a>
	                        <a th:href="@{|${kakaoUrl}|}"><img th:src="@{/images/member/kakao.png}" id="kakao"></a>
	                        <a th:href="@{|${googleUrl}|}"><img th:src="@{/images/member/google.png}" id="google"></a>
                    </div>
                </div>
            </div>

            <!-- 오른쪽 여백 -->
            <div id="right-gap">
                <th:block th:replace="~{common/chatbot}"></th:block>
                <img th:src="@{/images/chat.png}" class="fixed-image" id="chat-image">
                <a th:href="@{/donation}"><img th:src="@{/images/donation.png}" class="fixed-image" id="donate-image"></a>
                
            </div>
        </div>

		<!-- 풋터 -->
        <th:block th:replace="~{common/footer}"></th:block>
    </section>
    
    <script th:src="@{/js/member/login.js}"></script>
    
    <script th:inline="javascript">
		const loginMessage = /*[[${loginMessage}]]*/ "전달 받은 메세지";
		if(loginMessage != null) alert(loginMessage);
	</script>
</body>
</html>