<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>입양하기(리스트)</title>
    <link rel="stylesheet" th:href="@{/css/adopt/dogList.css}">
</head>

<body>

    <th:block th:replace="~{common/header}"></th:block>

    <main th:with="pagination=${map.pagination}, dogList=${map.dogList}">
        <div class="main-left"></div>

        <div class="main-center">
            <div class="title">입양하기</div>
            <div class="explane">"이 작은 발걸음이 여러분 가정에 큰 사랑으로 다가오길 바랍니다.
                새로운 가족 구성원을 환영하면서, 그들의 행복한 삶을 위해 함께 노력해 주세요."
            </div>

            <div class="filter">
                <form name="filter" onsubmit="submitFilter(); return false;">
                    <div class="filter-age">
                        <select id="age" name="dogBirthDay">
                            <option th:value="none">나이</option>
                            <option th:value="'0-12'">0~12개월</option>
                            <option th:value="'1-4'">1~4세</option>
                            <option th:value="'4-10'">4~10세</option>
                            <option th:value="'10+'">10세 이상</option>
                        </select>
                    </div>
                    <div class="filter-gender">
                        <select id="gender" name="dogGender">
                            <option th:value="none">성별</option>
                            <option th:value="남아">남아</option>
                            <option th:value="여아">여아</option>
                        </select>
                    </div>
                    <div class="filter-kind">
                        <select id="kind" name="breedName">
                            <option th:value="none">견종</option>
                            <th:block th:each="dog : ${dogList}">
                                <option th:value="${dog.breedName}" th:text="${dog.breedName}"></option>
                            </th:block>
                        </select>
                    </div>
                    <div class="filter-size">
                        <select id="size" name="dogSize">
                            <option th:value="none">크기</option>
                            <option th:value="소형">소형</option>
                            <option th:value="중형">중형</option>
                            <option th:value="대형">대형</option>
                        </select>
                    </div>
                    <div class="filter-surgery">
                        <select id="surgery" name="dogNeutering">
                            <option th:value="none">중성화 여부</option>
                            <option th:value="Y">완료</option>
                            <option th:value="N">미완료</option>
                        </select>
                    </div>

                    <button type="submit" th:value="Submit">
                        <img th:src="@{/images/adopt/finder.png}" id="finder-img">
                    </button>
                </form>
            </div>

            <div class="dog" id="firstContainer">
                <th:block th:if="${dogList.isEmpty()}" id="secondContainer">
                    <div class="dog-list" th:each="dog : ${dogList}">
                        <p style="font-size: 12px;">입양리스트가 존재하지 않습니다.</p>
                    </div>
                </th:block>
                  
                  
                  
                  
                  
                  
                <th:block th:unless="${dogList.isEmpty()}">
                    <div class="dog-list" id="secondContainer">
                        <div id="dog-list" th:each="dog : ${dogList}">
                            <a th:href="@{/adopt/dogList/{dogNo}(dogNo=${dog.dogNo})}">
                                <img th:src="${dog.imgPath + dog.imgRename}" id="dog-img">
                            </a>
                            <div id="dog-kind" th:text="${dog.dogName}"></div>
                        </div>
                    </div>
                </th:block>
            </div>

            <div class="regits">
                <a th:if="${session.loginMember?.adminYn == 'Y'}" class="regits-btn" th:href="@{/adopt/dogRegistration}">등록하기</a>
            </div>

            <div class="pagination-area" th:unless="${dogList.isEmpty()}">
                <ul class="pagination">

                    <!-- 첫 페이지로 이동 -->
                    <li><a th:href="@{/adopt/dogList?cp=1}">&lt;&lt;</a></li>

                    <!-- 이전 목록 마지막 번호로 이동 -->
                    <li><a th:href="@{/adopt/dogList(cp=${pagination.prevPage})}">&lt;</a></li>

                    <!-- 특정 페이지로 이동 -->
                    <th:block th:each="i : ${#numbers.sequence(pagination.startPage, pagination.endPage, 1)}">
                        <li th:if="${i == pagination.currentPage}">
                            <a class="current" th:href="@{/adopt/dogList(cp=${i})}" th:text="${i}">현재 페이지</a>
                        </li>
                        
                        <li th:unless="${i == pagination.currentPage}">
                            <a th:href="@{/adopt/dogList(cp=${i})}" th:text="${i}">나머지 페이지</a>
                        </li>
                    </th:block>

                    <!-- 다음 목록 시작 번호로 이동 -->
                    <li><a th:href="@{/adopt/dogList(cp=${pagination.nextPage})}">&gt;</a></li>

                    <!-- 끝 페이지로 이동 -->
                    <li><a th:href="@{/adopt/dogList(cp=${pagination.maxPage})}">&gt;&gt;</a></li>

                </ul>
            </div>

        </div>

        <div class="main-right">
            <th:block th:replace="~{common/chatbot}"></th:block>
            <img th:src="@{/images/chat.png}" class="fixed-image" id="chat-image">
            <a th:href="@{/donation}"><img th:src="@{/images/donation.png}" class="fixed-image" id="donate-image"></a>
    
        </div>
    </main>

    <th:block th:replace="~{common/footer}"></th:block>

    <script th:src="@{/js/adopt/dogList.js}"></script>
</body>

</html>