<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>입양하기(리스트)</title>
    <link rel="stylesheet" th:href="@{/css/adopt/dogList.css}">
</head>

<body>

    <th:block th:replace="~{common/header}"></th:block>

    <main th:with="pagination=${map.pagination}, dogList=${map.dogList}">
        <div class="main-left"></div>

        <div class="main-center">
            <div class="title">입양하기</div>
            <div class="explane">"이 작은 발걸음이 여러분 가정에 큰 사랑으로 다가오길 바랍니다.
                새로운 가족 구성원을 환영하면서, 그들의 행복한 삶을 위해 함께 노력해 주세요."
            </div>

            <div class="filter">
                <form name="filter" multiple required action="#">
                    <div class="filter-age">
                        <select id="age" name="age" onchange="onchangeEvent();">
                            <option value="none">나이</option>
                        </select>
                    </div>
                    <div class="filter-gender">
                        <select id="gender" name="gender">
                            <option value="none">성별</option>
                            <option value="mail">남아</option>
                            <option value="femail">여아</option>
                        </select>
                    </div>
                    <div class="filter-kind">
                        <select id="kind" name="kind">
                            <option value="none">견종</option>
                            <option value=""></option>
                        </select>
                    </div>
                    <div class="filter-size">
                        <select id="size" name="size">
                            <option value="none">크기</option>
                            <option value="small">소형</option>
                            <option value="medium">중형</option>
                            <option value="large">대형</option>
                        </select>
                    </div>
                    <div class="filter-surgery">
                        <select id="surgery" name="surgery">
                            <option value="none">중성화 여부</option>
                            <option value="Y">완료</option>
                            <option value="N">미완료</option>
                        </select>
                    </div>
                    <button type="submit" value="Submit">
                        <img th:src="@{/images/adopt/finder.png}" id="finder-img">
                    </button>
                </form>
            </div>

            <div class="dog">
                <th:block th:if="${dogList.isEmpty()}">
                    <div class="dog-list" th:each="dog : ${dogList}">
                        <p style="font-size: 12px;">입양리스트가 존재하지 않습니다.</p>
                    </div>
                </th:block>
                <th:block th:unless="${dogList.isEmpty()}">
                    <div class="dog-list" >
                        <div id="dog-list" th:each="dog : ${dogList}">
                            <a th:href="@{/adopt/dogList/{dogNo}(dogNo=${dog.dogNo})}">
                                <img th:src="${dog.thumbnail}" id="dog-img">
                            </a>                        
                            <div id="dog-kind" th:text="${dog.dogName}"></div>
                        </div>
                    </div>
                </th:block>
            </div>

            <div class="regits">
                <a th:if="${session.loginMember?.adminYn == 'Y'}" class="regits-btn" th:href="@{/adopt/dogRegistration}">등록하기</a>
            </div>

            <div class="pagination-area" th:unless="${dogList.isEmpty()}">
                <ul class="pagination">

                    <!-- 첫 페이지로 이동 -->
                    <li><a th:href="@{/adopt/dogList?cp=1}">&lt;&lt;</a></li>

                    <!-- 이전 목록 마지막 번호로 이동 -->
                    <li><a th:href="@{/adopt/dogList(cp=${pagination.prevPage})}">&lt;</a></li>

                    <!-- 특정 페이지로 이동 -->
                    <th:block th:each="i : ${#numbers.sequence(pagination.startPage, pagination.endPage, 1)}">
                        <c:choose>
                            <li th:if="${i == pagination.currentPage}">
                                <a class="current" th:href="@{/adopt/dogList(cp=${i})}" th:text="${i}">현재 페이지</a>
                            </li>
                    		
                            <li th:unless="${i == pagination.currentPage}">
                                <a th:href="@{/adopt/dogList(cp=${i})}" th:text="${i}">나머지 페이지</a>
                            </li>
                        </c:choose>
                    </th:block>

                    <!-- 다음 목록 시작 번호로 이동 -->
                    <li><a th:href="@{/adopt/dogList(cp=${pagination.nextPage})}">&gt;</a></li>

                    <!-- 끝 페이지로 이동 -->
                    <li><a th:href="@{/adopt/dogList(cp=${pagination.maxPage})}">&gt;&gt;</a></li>

                </ul>
            </div>

        </div>

        <div class="main-right">
            <a th:href="@{/#}"><img th:src="@{/images/chat.png}" class="fixed-image" id="chat-image"></a>
            <a th:href="@{/#}"><img th:src="@{/images/donation.png}" class="fixed-image" id="donate-image"></a>
        </div>
    </main>

    <th:block th:replace="~{common/footer}"></th:block>
</body>

</html>