<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>무료입소신청</title>
        <link rel="stylesheet" th:href="@{/css/admissionApply/freeAdmission.css}">
        
    </head>
    <body>
	    <th:block th:replace="~{common/header}"></th:block>

        <main>
            <section class = "admissionIntro">
                <div class = "admissionIntroTitle">
                    멍프랜드만의 특별함
                </div>
                <div class = "admissionIntroContent">
                    <div class = "admissionIntroContentBox">
                        <p>
                            비허가 업체, 열약한 환경과 <br>
                            전문성이 부족한 타 보호소와는 다른 <br>
                            멍프랜드 보호소에서 안심하고 입소 신청해주세요 !
                        </p>
                    </div>
                </div>
            </section>


            <section class = "admissionApplyContainer">
                <div class = "admissionApplyTitle">
                    <div class = "admissionApplyTitleBox">
                        무료 입소 신청하기
                    </div>
                </div>
                

				<!--@{insert}   name ="admissionApplyForm"-->
                <form th:action="@{/freeAdmission/insert}" method="POST"  class = "admissionApplyForm" enctype = "multipart/form-data">

                    <div class = "formElement">
                        <div class = "formElementTitle">
                            <div class = "formElementBox">
                                이름
                            </div>
                        </div>

                        <div class = "formElementContent">
                            <fieldset class = "applyFieldset">
                                <input type = "text" name = "admName" id = "applyName" class = "applyInput">
                            </fieldset>
                        </div>
                    </div>

                    <div class = "formElement heightPadding">
                        <div class = "formElementTitle formDogFlex">
                            <div class = "formDogProfile">
                                <img th:src="@{/images/admissionApply/dog.svg}" id = "admissionProfileImg">
                            </div>
                        </div>

                        <div class = "formElementContent formBtnStart">
                        
                            <label>
                                <input type="file" id="admissionProfileInput"  name="admissionProfile" accept="image/*"/>
                                <div class = "formFont formDogBtn formDogImgeUploadBtn">
                                    강아지 사진 업로드
                                </div>
                            </label>


                            <div class = "formFont formDogBtn formDogImgeDelBtn" id = "deleteImage">
                                이미지 삭제
                            </div>

                        </div>
                    </div>


                    <div class = "formElement">
                        <div class = "formElementTitle">
                            <div class = "formElementBox">
                                연락처
                            </div>
                        </div>

                        <div class = "formElementContent">
                            <fieldset class = "applyFieldset">
                                <input type = "text"  name = "admPhone" id = "applyPhone" class = "applyInput" placeholder="'-' 제외">
                            </fieldset>
                        </div>
                    </div>

                    <div class = "formElement">
                        <div class = "formElementTitle">
                            <div class = "formElementBox">
                                견종
                            </div>
                        </div>

                        <div class = "formElementContent">
                            <fieldset class = "applyFieldset">
                                <input type = "text"  name = "admBreed" id = "applyBreed" class = "applyInput">
                            </fieldset>
                        </div>
                    </div>

                    <div class = "formElement">
                        <div class = "formElementTitle">
                            <div class = "formElementBox">
                                생일
                            </div>
                        </div>

                        <div class = "formElementContent">
                            <fieldset class = "applyFieldset ">
                                <input type = "date"  name = "admBirthday" id = "applyBirthday" class = "applyInput " placeholder="ex) 2023-11-24" max = "" >
                            </fieldset>
                        </div>
                    </div>

                    <div class = "formElement ">
                        <div class = "formElementTitle">
                            <div class = "formElementBox">
                                성별
                            </div>
                        </div>

                        <div class = "formElementContent">
                            <label class = "applyFieldset admissionTwoBtn">
                                <input type = "radio" name = "admGender" value="남아">
                                <div id = "admissionGenderM" class ="formFont ">
                                    남아
                                </div>
                            </label>
    
                            <label class = "applyFieldset admissionTwoBtn">
                                <input type = "radio" name = "admGender" value="여아">
                                <div id = "admissionGenderF" class = "formFont">
                                    여아
                                </div>
                            </label>
                        </div>
                    </div>


                    <div class = "formElement">
                        <div class = "formElementTitle">
                            <div class = "formElementBox">
                                중성화 여부
                            </div>
                        </div>

                        <div class = "formElementContent">
                            <label class = "applyFieldset admissionTwoBtn">
                                <input type = "radio" name = "admNeuteringYN" value="Y">
                                <div class = "formFont">
                                    O
                                </div>
                            </label>
    
                            <label class = "applyFieldset admissionTwoBtn">
                                <input type = "radio" name = "admNeuteringYN" value="N">
                                <div class = "formFont">
                                    X
                                </div>
                            </label>


                        </div>
                    </div>
                    
                    <div class = "formElement">
                        <div class = "formElementTitle">
                            <div class = "formElementBox">
                                접종 여부
                            </div>
                        </div>

                        <div class = "formElementContent">
                            <label class = "applyFieldset admissionTwoBtn">
                                <input type = "radio" name = "admVaccineYN" value="Y">
                                <div class = "formFont">
                                    완료
                                </div>
                            </label>
    
                            <label class = "applyFieldset admissionTwoBtn">
                                <input type = "radio" name = "admVaccineYN" value="N">
                                <div class = "formFont">
                                    미완료
                                </div>
                            </label>
                        </div>	
                    </div>




                    <div class = "formElement">
                        <div class = "formElementTitle">
                            <div class = "formElementBox">
                                특이사항
                            </div>
                        </div>

                        <div class = "formElementContent">
                            <textarea class = "applyFieldset" placeholder="필수입력란이 아닙니다." name = "admSignificant"></textarea>
                        </div>
                    </div>

                    
                    <div class = "formElement">
                        <div class = "formElementTitle">
                            <div class = "formElementBox">
                                입소 희망일
                            </div>
                        </div>

                        <div class = "formElementContent">
                            <fieldset class = "applyFieldset">
                                <input type = "date"  name = "admHopeDate" id = "applyHopeDate" class = "applyInput" placeholder="ex) 2023-11-24" min = "">
                            </fieldset>
                        </div>
                    </div>

                    <div class = "admissionSubmit">
                        <button type="submit" class = "admissionSubmitBtn" id = "admissionSubmitBtn" >
                            제출하기
                        </button>
                    </div>

                </form>


                
            </section>

            <th:block th:replace="~{common/chatbot}"></th:block>
            
        </main>
        

        <a th:href="@{/donation}"><img th:src="@{/images/donation.png}" class="fixed-image" id="donate-image"></a>
		<a th:href="@{#}"><img th:src="@{/images/chat.png}" class="fixed-image" id="chat-image"></a>        
        
	    <th:block th:replace="~{common/footer}"></th:block>
	    
	    <script th:src="@{/js/admissionApply/freeAdmission.js}"></script>
		
    </body>
</html>