<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>빌링키 받기 위한 값</title>

        <link rel="stylesheet" th:href="@{/css/donation/donationInfo.css}">
        <script th:src="@{https://kit.fontawesome.com/ac58eafae7.js}" crossorigin="anonymous"></script>
    </head>
    <body>

        <!-- 빌링키 받기 위한 값 팝업 -->
        <div id = "cardModalBox">
            <div id = "cardContentArea">
      
                <div id = "cardClose" >&times;</div>

                <div class = "cardArea">

                    <div class = "cardInfo infoTitle" >
                        <img th:src = "@{images/member/logo.png}">
                        <div>
                            멍프랜드 정기결제 
                        </div>

                    </div>

                    <div class = "cardInfo payAmountInfo" >
                        <div class = "payAmountBox">
                            <div>
                                결제 금액  
                            </div>
                            <div>
                                1000원
                            </div>
                        </div>
                        <hr>
                        <div class = "payPeriod">
                            <div>
                                정기 결제 기간 : 2023.12.06 ~ 2024.12.06
                            </div>
                            <div>
                                다음 결제일 : 2024.01.06
                            </div>
                        </div>

                    </div>

                    <div class = "cardInfo" >
                        카드 번호 
                        <div class = "cardInfoInputArea">
                            <span><input type = "text" id = "card1" name = "cardNum" maxlength='4' placeholder="XXXX"></span>
                            <span><input type = "password" id = "card2" name = "cardNum" maxlength='4' placeholder="XXXX"></span>
                            <span><input type = "password" id = "card3" name = "cardNum" maxlength='4' placeholder="XXXX"></span>   
                            <span><input type = "text" id = "card4" name = "cardNum" maxlength='4' placeholder="XXXX"></span>
                        </div>
                    </div>

                    <div class = "cardInfoFlex" >
                        <div class = "expiryBox">
                            유효 기간
                            <div class = "cardInfoInputArea">
                                <span><input type = "text" id = "expiry1" name = "expiry" maxlength='2' placeholder="MM"></span>
                                <span><input type = "text" id = "expiry2" name = "expiry"maxlength='2' placeholder="YY"></span>
                            </div>
                        </div>

                        <div class = "pwdBox" >
                            비밀번호 앞 2자리
                            <div class = "cardInfoInputArea">
                                <span><input type = "text" id = "pw" name = "cardPw" maxlength='2'></span>
                                <span id = "backPw">**</span>
                            </div>
                        </div>
                    </div>



                    <div class = "cardInfo" >
                        생년월일(6자리)
                        <div class = "cardInfoInputArea">
                            <span id = "cardLeft"><input type = "text" name = "birth" id = "birth" maxlength='6'></span>
                        </div>
                    </div>

                    <div class = "cardInfo regularCheckBox">
                        <label>
                            <input type = "checkbox" >
                            매월 정기결제에 동의합니다.
                        </label>
                    </div>


                    <div class = "cardInfo btnFlex">
                        <div class = "regularBtn" id = "regularBtn" th:onclick="regularCardInfoCheck()">
                            정기결제 
                        </div>
                    </div>


                </div>
            </div>
        </div>    
      
        <script th:src ="@{/js/donation/cardInfoModal.js}"></script>

    </body>
</html>