<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>멍프랜드-!이벤트!</title>

        <link rel="stylesheet" th:href="@{/css/event/event.css}">
        <script th:src="@{https://kit.fontawesome.com/ac58eafae7.js}" crossorigin="anonymous"></script>
    </head>
    <body>
        <!-- 이벤트 팝업 -->
        <div id = "eventModalBox">
            <div id = "eventContentArea">
                      
                <!-- 시작 혹은 끝에서  (모달 안에 모달)-->
                <div id = "eventSubModalBox" > 
                    <div id = "eventSubModalArea">
                        <div class = "modalContent">
                            <div class = "iconArea">
                                <i class="fa-solid fa-gamepad"></i>
                            </div>
                            <div class = "titleArea">
                                강아지 맞추기 이벤트
                            </div>  
                            <div class = "gameArea">
                                제시된 사진을 보고 10초 안에 <br>강아지 견종을 맞춰보세요~
                            </div>
                        </div>
                        <div class = "modalBtnArea">    
                            <div class = "modalBtn">
                                <div class = "settingBtn" id = "main" th:onclick="closeEvent()">
                                    메인 페이지
                                </div>
                            </div>  
                            <div class = "modalBtn">
                                <div class = "settingBtn" id = "gameStart" th:onclick ="startGame()">
                                    게임 시작
                                </div>
                            </div>  
                        </div>
                        <div class = "modalBtnArea">    
                            <div class = "modalBtn">
                                <div class = "settingBtn" id = "oneDay" th:onclick="eventCloseOneDay()">
                                   오늘 하루 이벤트 참여하지 않음.
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>

                

                <div id = "eventClose" >&times;</div>

                <div class = "eventArea">
                    <div class = "quizStatus">
                        <div class = "timeArea" id = "timer">
                            10
                        </div>
                        <div class = "correctArea">
                            <div class = "correctState">
                                <img th:src = "@{/images/event/quiz/origin.jpg}">
                            </div>
                            <div class = "correctState">
                                <img th:src = "@{/images/event/quiz/origin.jpg}">
                            </div>
                            <div class = "correctState">
                                <img th:src = "@{/images/event/quiz/origin.jpg}">
                            </div>
                            <div class = "correctState">
                                <img th:src = "@{/images/event/quiz/origin.jpg}">
                            </div>
                            <div class = "correctState">
                                <img th:src = "@{/images/event/quiz/origin.jpg}">
                            </div>
                        </div>
                    </div>

                    <div class = "quizGame" id = "container" >
                        
                    </div>

                    <div class = "quizArea">

                        <label class = "quizBtnWrap">
                            <input type = "radio" name = "quizSelect" value = "1">
                            <div class = "quizBtn">
                                <div class = "quizNum">
                                </div>

                                <div class = "quizContent">
                                </div>
                            </div>

                        </label>
                        <label class = "quizBtnWrap">
                            <input type = "radio" name = "quizSelect" value = "2">
                            <div class = "quizBtn">
                                <div class = "quizNum">
                                </div>

                                <div class = "quizContent">
                                </div>
                            </div>
                        </label>
                        <label class = "quizBtnWrap">
                            <input type = "radio" name = "quizSelect" value = "3">
                            <div class = "quizBtn">
                                <div class = "quizNum">
                                </div>

                                <div class = "quizContent">
                                </div>
                            </div>
                        </label>
                        <label class = "quizBtnWrap">
                            <input type = "radio" name = "quizSelect" value = "4">
                            <div class = "quizBtn">
                                <div class = "quizNum">
                                </div>

                                <div class = "quizContent">
                                </div>
                            </div>
                        </label>

                    </div>

                </div>
            </div>
        </div>
        
		<script th:inline = "javascript">
			var loginMember = /*[[${session.loginMember}]]*/ null;
			if(loginMember != null){
				
				var memberNickname = loginMember.memberNickname;
			}
			
		</script>  
      
        <script th:src ="@{/js/event/event.js}"></script>
        <script th:src="@{/js/event/game.js}"></script>
    </body>
</html>