@font-face { font-family: 'NanumGothic';src: url('/fonts/NanumGothic.eot');src: url('/fonts/NanumGothic.eot') format('embedded-opentype'),url('/fonts/NanumGothic.woff') format('woff');}

* {
    box-sizing: border-box;
    list-style: none; 
    text-decoration: none;
    padding: 0;
    margin: 0;
    font-family: 'NanumGothic', 'serif';
}


/* 전체 컨테이너 */
.mainContainer {
    width: 45%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    margin-left: 28%;
    margin-top: 90px;
}

/* 입양후기 */
.mainContainer > div:nth-child(1) {
    font-size: 20px;
    font-weight: bolder;
    line-height: normal;
    margin-bottom: 20px;
}

/* 안락사 없는~  */
.mainContainer > div:nth-child(2) {
    color: #7C7C7C; 
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
    margin-bottom: 50px;

}

/* 입양리뷰 인증게시판 */
.mainContainer > div:nth-child(3) {
    flex-basis: 3%;
    width: 25%;
    border-radius: 10px;
    background: #FEE4D6;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    text-align: center;
    
}

/* 구분줄(굵음) */
.boardRectangle {
    width: 100%;
    flex-basis: 1%;
    border: 2.5px solid #F9C9B0;;
    background: #FFF;
}

/* 구분줄(얇음) */
.boardRectangle_1 {
    width: 100%;
    height: 2px;
    background: #F9C9B0;
    border: 5px solid #ffffff;
}

/* 제목, 사진 컨테이너 */
.formContainer {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

/* 제목 글자 */
.formContainer  > div:nth-child(2) {
    height: 35px;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
}

/* 제목 내용 */
.titleContent {
    width: 100%;
    flex-basis: 20%;
    border-radius: 10px;
    border: 5px solid #FEE4D6;
    background: #FFF;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    text-indent: 1em;
    margin: 10px 0 10px 0;
    
}

/* 이미지 컨테이너 */
.boardImage {
    display: flex;
    align-items: center;
    width: 100%; 
    margin-bottom: 15px;
}

/* 이미지 */
.boardImage img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin-right: 10px; /* 이미지 간격 조절 */
    margin-left: 10px; /* 이미지 간격 조절 */
    
}



/* 내용 글자 */
.contentTitle {
 	height: 35px;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    
}

/* 내용 */
#boardContent {

    height: 500px;
    width: 100%;
    border-radius: 10px;
    border: 5px solid #FEE4D6;
    background: #FFF;
    padding-top: 20px;
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-indent: 1em;
}


/* 사진 컨테이너  */
.file-input-container {
    position: relative;
    width: 192px;
    height: 192px;
    overflow: hidden;
    border-radius: 10px;
    border: 5px solid #FFF0E8;
    background: #FFF0E8;
    margin-right: 10px; /* 이미지 간격 조절 */
   
}

/* 사진 */
.file-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

/* 라벨 */
.file-input-label {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}


/* 밑으로 버튼들 */
.buttons {
    display: flex;
    margin-left: 62%;
}


#updateReview {

    height: 30px;
    width: 80px;
    border-radius: 5px;
    background: #FEE4D6;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
    margin: 10px;
    border: 1px solid #000;
}




#toList {

    height: 30px;
    width: 80px;
    border-radius: 5px;
    background: #FEE4D6;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
    margin: 10px;
    border: 1px solid #000;
}




/*************************************************
                우측 nav 
*************************************************/
.fixed-image {
    position: fixed;
    right: 10px;
    z-index: 100;
    width: 50px;
}

.fixed-image:hover {
    cursor: pointer;
}

#chat-image {
    bottom: 10px;
}

#donate-image {
    bottom: 70px;
}