@font-face { font-family: 'NanumGothic';src: url('/fonts/NanumGothic.eot');src: url('/fonts/NanumGothic.eot') format('embedded-opentype'),url('/fonts/NanumGothic.woff') format('woff');}

* {
    box-sizing: border-box;
    list-style: none; 
    text-decoration: none;
    padding: 0;
    margin: 0;
    font-family: 'NanumGothic', 'serif';
}

a {
    text-decoration: none;
    color: black;
} 

a:hover {
    color: goldenrod;
}

input, textarea {
    border: none; /* 테두리 없애기 */
    outline: none; /* 클릭 시 발생하는 외곽선 제거 */
}

/* 전체 컨테이너 */
.mainContainer {
    width: 45%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    margin-left: 28%;
    margin-top: 40px;
    
}

.titleContainer {
    width: 45%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    margin-left: 23%;
    margin-top: 90px;
}

/* 입양후기 */
.titleContainer > div:nth-child(1) {
    font-size: 20px;
    font-weight: bolder;
    line-height: normal;
    margin-bottom: 20px;
    margin-top: 20px;
}

/* 안락사 없는~  */
.titleContainer > div:nth-child(2) {
    margin-left: 30px;
    color: #7C7C7C; 
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
   

}

/* 입양리뷰 인증게시판 */
.mainContainer > div:nth-child(1) {
    height: 40px;
    width: 20%;
    border-radius: 10px;
    background: #FEE4D6;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    margin-bottom: 20px;
}

.boardListDiv{
	height: 370px;
}


/* 게시글 테이블 */
.boardList {
    flex-basis: 50%;
    width: 100%;
    border-collapse: collapse;
}


/* 구분줄(굵음) */
.boardRectangle {
    width: 100%;
    border: 1.5px solid #FEE4D6;
    background: #FEE4D6;
}

/* 구분줄(얇음) */
.boardRectangle_1 {
    width: 100%;
    border: 1.5px solid #D2D2D2;
    background: #D2D2D2;
}

/* 게시글 타이틀 */
.boardTitle {
    height: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    margin: 10px 0 10px;

}

/* 번호, 제목, 작성자, 작성일, 조회수 */
.boardTitle > th:nth-child(1) { width: 15%; }
.boardTitle > th:nth-child(2)  { width: 40%; }
.boardTitle > th:nth-child(3)  { width: 15%; }
.boardTitle > th:nth-child(4)  { width: 15%; }
.boardTitle > th:nth-child(5)  { width: 15%; }



/* 번호, 제목, 작성자, 작성일, 조회수 */
/* .boardTitle > div:nth-child(1) {
    flex-basis: 15%;
}

.boardTitle > div:nth-child(2) {
    flex-basis: 30%;
}

.boardTitle > div:nth-child(3) {
    flex-basis: 15%;
}

.boardTitle > div:nth-child(4) {
    flex-basis: 20%;
}

.boardTitle > div:nth-child(5) {
    flex-basis: 20%;
} */

/* 게시글 내용 컨테이너 */
.boardContent {
    height: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 13px;
    font-style: normal; 
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin: 8px 0 8px 0;
}


.boardContent > td:nth-child(1) { width: 15%; }
.boardContent > td:nth-child(2)  { width: 40%; }
.boardContent > td:nth-child(3)  { width: 15%; }
.boardContent > td:nth-child(4)  { width: 15%; }
.boardContent > td:nth-child(5)  { width: 15%; }


/* .boardContent > div:nth-child(1) {
    flex-basis: 15%;
}

.boardContent > div:nth-child(2) {
    flex-basis: 30%;
}

.boardContent > div:nth-child(3) {
    flex-basis: 15%;
}

.boardContent > div:nth-child(4) {
    flex-basis: 20%;
}

.boardContent > div:nth-child(5) {
    flex-basis: 20%;
} */



/* 
.boardContent > div {
    flex: 1;
    text-align: center; 
} */



/* 글쓰기 버튼 */
#writeReview {

    height: 30px;
    width: 80px;
    border-radius: 3px;
    background: #FEE4D6;
    margin-left: 88%;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px;
    cursor: pointer;
    
    margin-bottom: 25px;
    border: none;
}
 
 /* 검색창 컨테이너 */
#searchContainer {
    height: 40px;
    width: 575px;
    display: flex;
    margin-left: 17%;
   
    margin-bottom: 25px;
}

/* select */
#searchType {
    width: 90px;
    height: 30px;
    border: 1px solid gray;
    background: #FFF;
    margin-right: 15px;
    border-radius: 5px;
}

/* 검색어 입력창 */
#searchContent {
    width: 356px;
    height: 30px;
    border: 1px solid gray;
    background: #FFF;
    margin-right: 15px;
    text-indent: 1em;
    border-radius: 5px;
}

/* 검색버튼 */
#searchButton {
    width: 93px;
    height: 30px; 
    border: none;
    background: #FEE4D6;
    cursor: pointer;
    border-radius: 5px;
}



/* ============================ pagination ============================== */
.current{
    /* font-weight: bold; */
    background-color: #F69C9C;
    border-radius: 50%;
    color: black !important;
    letter-spacing: 0 !important;
}

/* .current{
    background-color: #F69C9C;
    border-radius: 50%;
    color: white !important;
    letter-spacing: 0 !important;
} */

.pagination{
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    height: 20px;
    font-size: 13px;
}

.pagination li{
    width: 20px;
    margin: 0 5px;
    text-align: center;
}

.pagination a{
    display: block;
    width: 100%;
    height: 100%;
    line-height: 19px;
}


/*************************************************
                우측 nav 
*************************************************/
.fixed-image {
    position: fixed;
    right: 10px;
    z-index: 100;
    width: 50px;
}

.fixed-image:hover {
    cursor: pointer;
}

#chat-image {
    bottom: 10px;
}

#donate-image {
    bottom: 70px;
}