@font-face { font-family: 'NanumGothic';src: url('/fonts/NanumGothic.eot');src: url('/fonts/NanumGothic.eot') format('embedded-opentype'),url('/fonts/NanumGothic.woff') format('woff');}

* {
    box-sizing: border-box;
    list-style: none; 
    text-decoration: none;
    padding: 0;
    margin: 0;
    font-family: 'NanumGothic', 'serif';
}


/* 전체 컨테이너 */
.mainContainer {
    width: 45%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
     margin-left: 28%;
     margin-top: 90px;
}

/* 입양후기 */
.mainContainer > div:nth-child(1) {
    font-size: 20px;
    font-weight: bolder;
    line-height: normal;
    margin-bottom: 20px;
}

/* 안락사 없는~  */
.mainContainer > div:nth-child(2) {
    color: #7C7C7C; 
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
    margin-bottom: 50px;

}

/* 입양리뷰 인증게시판 */
.mainContainer > div:nth-child(3) {
    flex-basis: 3%;
    width: 25%;
    border-radius: 10px;
    background: #FEE4D6;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    text-align: center;
}

/* 구분줄(굵음) */
.boardRectangle {
    width: 100%;
    flex-basis: 1%;
    border: 2.5px solid #F9C9B0;;
    background: #FFF;
    margin : 10px 0 10px 0;
}

/* 구분줄(얇음) */
.boardRectangle_1 {
    width: 100%;
    border: 1.5px solid #D2D2D2;
    background: #D2D2D2;
     margin : 10px 0 10px 0;
}

/* 제목, 사진 컨테이너 */
.titleContainer {
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    font-size: 15px;
}

/* 제목 글자 */
.titleContainer  > div:nth-child(2) {
    height: 35px;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
}

/* 제목 내용 */
.titleContent {

    width: 100%;
    flex-basis: 20%;
    border-radius: 10px;
    border: 5px solid #FEE4D6;
    background: #FFF;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    text-indent: 1em;
    margin: 10px 0 10px 0;
    
}

/* 이미지 컨테이너 */
.boardImage {
    display: flex;
    align-items: center;
    width: 100%; 
    margin-bottom: 15px;
}

/* 이미지 */
.boardImage img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin-right: 10px; /* 이미지 간격 조절 */
    margin-left: 10px; /* 이미지 간격 조절 */
}

.boardImage img:last-child {
    margin-right: 0; /* 마지막 이미지는 오른쪽 간격을 없앰 */
}

/* 내용, 댓글  컨테이너*/
.contentContainer{
    display: flex;
    flex-direction: column;
    font-size: 15px;
}

/* 내용 글자 */
.contentTitle {
    height: 30px;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    
}

/* 내용 */
#boardContent {
    width: 100%;
    height: 213px;
    border-radius: 10px;
    border: 5px solid #FEE4D6;
    background: #FFF;
    line-height: 50px;
    text-indent: 1em;
    padding-top: 20px;
}

/* 댓글 컨테이너 */
.commentContainer {
    flex-basis: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* 이름 */
.commentContainer p:nth-child(1) {
    flex-basis: 10%;
    text-align: center;
    font-weight: 700;
}

/* 내용 */
.commentContainer p:nth-child(2) {
    margin-left: 5%;
    flex-basis: 70%;
}

/* 작성일시 */
.commentContainer p:nth-child(3) {
    flex-basis: 20%;
    font-size: 12px;
    text-align: end;
    margin-right: 1%;
}


/* 답글 컨테이너 */
.replyContainer {
    margin-left: 15%;
    flex-basis: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* 이름 */
.replyContainer p:nth-child(1) {
    flex-basis: 10%;
    text-align: center;
    font-weight: 700;
}

/* 내용 */
.replyContainer p:nth-child(2) {
    margin-left: 5%;
    flex-basis: 70%;
}

/* 작성일시 */
.replyContainer p:nth-child(3) {
    flex-basis: 20%;
    font-size: 12px;
    text-align: end;
    margin-right: 1%;
}


/* 밑으로 버튼들 */
.buttons {
    display: flex;
    margin-left: 57%;
}


#updateReview {
    border: 1px solid #000;
    height: 30px;
    width: 80px;
    border-radius: 5px;
    background: #FEE4D6;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
    margin: 10px;
}


#deleteReview {
    border: 1px solid #000;
    height: 30px;
    width: 80px;
    border-radius: 5px;
    background: #F9C9B0;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
    margin: 10px;
}



#toList {

    border: 1px solid #000;
    height: 30px;
    width: 80px;
    border-radius: 5px;
    background: #FEE4D6;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
    margin: 10px;
}