<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>1:1 문의</title>
	<link rel="stylesheet" th:href="@{/css/mypage/admin/adminInquiry.css}">
	<script src="https://kit.fontawesome.com/ac58eafae7.js" crossorigin="anonymous"></script>

</head>

<body>
	<th:block th:replace="~{common/header}"></th:block>
	<main>
		<!-- 사용자 마이페이지 타이틀 영역-->
		<section class="userIntroArea">
			<div class="userIntroTitle">
				1:1 문의
			</div>
			<hr>
		</section>

		<!-- 사용자 마이페이지 내용 영역-->
		<section class="userContentArea">

			<!-- nav 자리-->
			<nav class="navAdmission">
				<th:block th:replace="~{common/nav_admin}"></th:block>
			</nav>

			<!-- 내용 작성영역-->
			<div class="userContentContainer">

			<div class="fixedLabel">닉네임</div>
		    <input type="text" id="nickname" class="inputBox" style="text-align: center;" th:value="${inquiry.memberNickname}" readonly>
		
		    <div class="fixedLabel">제목</div>
		    <input type="text" id="title" class="inputBox" th:value="${inquiry.inquiryTitle}" readonly>
		
		    <div class="fixedLabel">내용</div>
		    <textarea id="content" class="inputBox textareaBox" readonly th:text="${inquiry.inquiryContent}"></textarea>
		
		    <div class="fixedLabel">문의답변</div>
		   
					    <form th:action="@{/mypage/admin/admninInquiryBox}" method="post">
						<input type="hidden" name="inquiryNo" th:value="${inquiry.inquiryNo}">
						<textarea name="adminReply" id="inquiry" class="inputBox textareaBox" th:text="${inquiry.adminReply}"></textarea>
						<button type="submit" class="inputBox buttonBox">답변하기</button>
					</form>
			</div>

			</div>
		</section>
		
		
		
		<a th:href="@{/#}"><img th:src="@{/images/chat.png}" class="fixed-image" id="chat-image"></a>
		<a th:href="@{/#}"><img th:src="@{/images/donation.png}" class="fixed-image" id="donate-image"></a>
</body>
</main>
<th:block th:replace="~{common/footer}"></th:block>
</body>

</html>