<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>입소신청 내역 (관리자)</title>
        <link rel="stylesheet" th:href="@{/css/mypage/admin/admissionList_admin.css}">
        
        <!-- swiper-->
	    <link rel="stylesheet" th:href="@{https://unpkg.com/swiper/swiper-bundle.min.css}"/>
        <script th:src="@{https://kit.fontawesome.com/ac58eafae7.js}" crossorigin="anonymous"></script>
        
    </head>
    <body>
	    <th:block th:replace="~{common/header}"></th:block>
        <main>
            <section class = "adminIntroArea">
                <div class = "adminIntroTitle">
                    입소신청 내역
                </div>
                <hr>
            </section>

            <section class = "adminContentArea" th:object="${admissionList}">
                <!-- nav 자리-->
                <nav class = "navAdmission">
    				<th:block th:replace="~{common/nav_admin}"></th:block>
                </nav>

                <!-- 입소 신청된 내용 영역-->
                <div class = "adminContentContainer">
					
	       			<th:block th:if="${#lists.size(admissionList)} == 0">
						<div class = "allNotList" >
							입소 신청된 내용이 존재하지 않습니다.                   										
						</div>
	       			</th:block>
	       			<th:block th:unless="${#lists.size(admissionList)} == 0">
	                    <!-- 입소 진행 사항 버튼 영역-->
	                    <div class = "admissionStatusBtnArea">
	                        <div class = "statusBtn" id = "admissionNBtn">
	                            입소 진행 중
	                        </div>
	                        <div class = "statusBtn" id = "admissionYBtn">
	                            입소 진행 완료
	                        </div>  
	                    </div>			
	                    <!-- 입소 신청된 내역 자격증 카드 형태 영역 -->
						<div class="admissionCardArea grid-container">

						    <div class="grid-item" th:each = "admission : ${admissionList}">
	                            <div class = "admissionCardBox">
	                                <div class = "cardProfile">
	                                    <div class = "cardProfileWrapper">
	                                        <img th:src="${admission.admProfile}">
	                                    </div>
	                                </div>
	    
	                                <div class = "cardInfo">
	                                    <div class = "cardInfoContent">
	                                        이름 : [[${admission.admName}]]
	                                    </div>
	
	                                    <div class = "cardInfoContent">
	                                        연락처 : [[${admission.admPhone}]]
	                                    </div>
	
	                                    <div class = "cardInfoContent">
	                                        견종 : [[${admission.admBreed}]]
	                                    </div>
	
	                                    <div class = "cardInfoContent">
	                                        성별 : [[${admission.admGender}]]
	                                    </div>
	
	                                    <div class = "cardInfoContent">
	                                        나이 : [[${admission.age}]]
	                                    </div>
	
	                                    <div class = "cardInfoContent">
	                                        특이사항 : [[${admission.admSignificant}]]
	                                    </div>
	
	                                    <div class = "cardInfoContent">
	                                        입소희망일 : [[${admission.admHopeDate}]]
	                                    </div>
	                                    
	                	       			<th:block th:if="${admission.admYN} == 'N'">
		                                    <div class = "cardInfoContent registArea">
												
												<a th:href = "@{/adopt/dogRegistration/{admNo}(admNo = ${admission.admNo})}">
													<div class = "admissionRegist" >
														등록하기
													</div>														
												</a>
	
												
											</div>
										</th:block>
	                                </div>
	                            </div>	
							</div>
							<button class = "swiperBtn" id="prevBtn">&lt;</button>
							<button class = "swiperBtn" id="nextBtn">&gt;</button>
						</div>
						


						
		       		</th:block>
                </div>
            </section>
        </main>

     
		<th:block th:replace="~{common/chatbot}"></th:block>
        <img th:src="@{/images/chat.png}" class="fixed-image" id="chat-image">
        <a th:href="@{/donation}"><img th:src="@{/images/donation.png}" class="fixed-image" id="donate-image"></a>


	    <th:block th:replace="~{common/footer}"></th:block>
	    
		<script th:inline = "javascript">
			var admissionArr = /*[[${admissionList}]]*/ "입소신청 리스트";
		</script>

    	<script th:src="@{https://unpkg.com/swiper/swiper-bundle.min.js}"></script>
	    
	    <script th:src="@{/js/mypage/admin/admissionList_admin.js}"></script>
	    

    </body>
</html>