<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Combined Bar and Line Chart</title>
    <script th:src="@{https://cdn.jsdelivr.net/npm/chart.js}"></script>
    <link rel="stylesheet" th:href="@{/css/mypage/admin/DogStatus.css}">
  	<script th:src="@{https://kit.fontawesome.com/ac58eafae7.js}" crossorigin="anonymous"></script>
</head>
<body style="overflow-x: hidden">
	
	<th:block th:replace="~{common/header}"></th:block>
		
    <main>
        <!-- 타이틀 변경-->
        <section class = "adminIntroArea">
            <div class = "adminIntroTitle">
                유기견 현황
            </div>
            <hr style="width: 85%;">
        </section>

        <!-- nav + 내용작성 -->
        <section class = "adminContentArea">

            <!-- nav 자리-->
            <nav class = "navAdmission">
                <th:block th:replace="~{common/nav_admin}"></th:block>
            </nav>

            <!-- 내용 영역-->
            <div class = "adminContentContainer">
                <div id="chartContainer" style="padding: 40px 40px 40px 0;">
                    <canvas id="myChart"></canvas>
                </div>
            </div>
        </section>


        <th:block th:replace="~{common/chatbot}"></th:block>
        <img th:src="@{/images/chat.png}" class="fixed-image" id="chat-image">
        <a th:href="@{/donation}"><img th:src="@{/images/donation.png}" class="fixed-image" id="donate-image"></a>
        
    </main>

    
        
 	<th:block th:replace="~{common/footer}"></th:block>
    

    <script th:inline="javascript">

        //유기견 현황
        const dogStatus = /*[[${dogStatus}]]*/ [];
        

        // 개월에 해당하는 데이터를 배열로 저장
        const months = dogStatus.map(function(item) {
            return item.ADMISSION_MONTH + "월";
        });

        // 유기견 마리 수에 해당하는 데이터를 배열로 저장
        const admissions = dogStatus.map(function(item) {
         return item.DOG_COUNT;
        });

       
        const adoptStatus = /*[[${adoptStatus}]]*/ [];

        // 유기견 마리 수에 해당하는 데이터를 배열로 저장
        const adoptions = adoptStatus.map(function(item) {
         return item.DOG_COUNT;
        });
        
        const maxArr = [
            ...adoptions,
            ...admissions
        ]
       

        const maxValue =  Math.max(...maxArr) + 10;

        
        const ctx = document.getElementById('myChart').getContext('2d');
    
        const chart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: months,
                datasets: [

                    {
                        label: '입소(마리)',
                        type: 'line',
                        data: admissions,
                        fill: false,
                        backgroundColor: 'rgba(244, 228, 214, 1)',
                        borderColor: 'rgba(254, 168, 93, 0.6)',
                        borderWidth: 2,
                        pointRadius: 5,
                        showInLegend: false // 범례에 표시하지 않음
                        

                    },
                    {   
                        label: '입양(마리)',
                        type: 'line',
                        data: adoptions,
                        fill: false,
                        backgroundColor: 'rgba(255, 99, 132, 0.4)',
                        borderColor: 'rgba(255, 99, 132, 0.5)',
                        borderWidth: 2,
                        pointRadius: 5,
                        showInLegend: false // 범례에 표시하지 않음
                        
                    },
                    {
                        label: '',
                        data: admissions,
                        backgroundColor: 'rgba(254, 228, 214, 1)',
                        borderColor: 'rgba(254, 228, 214, 0.5)',
                        borderWidth: 1,
                        categoryPercentage: 0.8,
                        barPercentage: 0.8,
                        showInLegend: false // 범례에 표시하지 않음
                    },
                    {
                        label: '',
                        data: adoptions,
                        backgroundColor: 'rgba(255, 99, 132, 0.2)',
                        borderColor: 'rgba(255, 99, 132, 0.5)',
                        borderWidth: 1,
                        categoryPercentage: 0.8,
                        barPercentage: 0.8,
                        showInLegend: false // 범례에 표시하지 않음
                       
                    },
                    
                   
                ]
            },
            options: {
                plugins: {
                    legend: {
                        display: true,
                        position: 'top',
                        labels: {
                        boxWidth: 25,
                        fontSize: 12,
                        fontColor: 'rgba(0, 0, 0, 1)'
                        }
                    }
                },
                scales: {
                    x: {
                        beginAtZero: true,
                        display: true,
                        maxLines: 1,
                        offset: true,
                        grid: {
                            display: false // x 축 그리드 없애기
                        }
                    },
                    y: {
                        beginAtZero: true,
                        max: maxValue,
                        stepSize: 6,
                        display: true,

                        title: {
                            display: true,
                            text: '마리',
                            padding: { top: 10, bottom: 10 }
                        },

                        grid: {
                            display: false // y 축 그리드 없애기
                        }

                    }
                }
            }
        });




    </script>
    
    
    

</body>
</html>


