<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>후원내역 (관리자)</title>
        <link rel="stylesheet" th:href="@{/css/mypage/admin/donationList_admin.css}">
        <script th:src="@{https://kit.fontawesome.com/ac58eafae7.js}" crossorigin="anonymous"></script>
        
    </head>
    <body>
	    <th:block th:replace="~{common/header}"></th:block>

        <main th:with = "pagination=${map.pagination}, donationList=${map.donationList}">
            <section class = "adminIntroArea">
                <div class = "adminIntroTitle">
                    후원 내역
                </div>
                <hr>
            </section>

            <section class = "adminContentArea">

                <!-- nav 자리-->
                <nav class = "navAdmission">
    				<th:block th:replace="~{common/nav_admin}"></th:block>
                </nav>

                <!-- 후원 내용 영역-->
                <div class = "adminContentContainer">

                    <!-- 후원 검색 창
                    	★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
                    	     나중에 시간있으면 ajax로 변환하기 
                    	★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
                    -->
                    <div class = "adminSearchArea">
                        <form th:action="@{/mypage/admin/donationList}" name="adminDonationSearch">
                            <fieldset class = "adminSearch">
                                <input type="search" id="donationSearch" name="donationSearch" class = "applyInput"
                                autocomplete="on" placeholder="후원자 이름 검색" th:value="${param.donationSearch}">
                                <button id="searchBtn" class="fa-solid fa-magnifying-glass"></button>
                            </fieldset>
                        </form>	 
                    </div>
                    
	       			<th:block th:if="${#lists.size(donationList)} == 0">
						<div class = "allNotList" >
							후원된 기록이 존재하지 않습니다.                   										
						</div>
	       			</th:block>

					<th:block th:unless="${#lists.size(donationList)} == 0">
	                    <!-- 후원 내역 리스트 -->
	                    <div class = "adminDonationContainer">
	                        <table class="donationTable">
	                
	                            <thead>
	                                <tr class = "donationTheadTr">
	                                    <th>번호</th>
	                                    <th>구분</th>
	                                    <th>후원자</th>
	                                    <th>후원자 이메일</th>
	                                    <th>결제 일시 </th>
	                                    <th>후원 금액</th>
	                                    <th>후원 유형</th>
	                                </tr>
	                            </thead>
	        
	                            <tbody>
	                                
	                                <tr class = "donationTBodyTr" th:each="donation, donationState:${donationList}">
	                                    <td>[[${donationState.count}]]</td>
										<td>[[${donation.memberYN}]]</td>
	                                    <td>[[${donation.memberName}]]</td>
	                                    <td>[[${donation.memberEmail}]]</td>
	                                    <td>[[${donation.paidAt}]]</td>
	                                    <td>[[${donation.donationAmount}]]원</td>
	                                    <th:block th:if = "${donation.donationType} == '일시'">											
		                                    <td><div class = "donationInfoCheck" id = "onePay">일시</div></td>
										</th:block>
	                                    <th:block th:if = "${donation.donationType} == '정기'">											
		                                    <td><div class = "donationInfoCheck" th:onclick="regularInfo([[${donation.billingKey}]],[[${donation.merchantUid}]], [[${session.loginMember.memberNo}]])">정기</div></td>
										</th:block>
	                                </tr> 	 
	                                              	      
	                            </tbody>
	                        </table>
	                    </div>
	
	                    <!-- 페이지 네이션 -->
	                    <div class="paginationArea" th:if="${#lists.size(donationList) > 0}">
							<!--검색 X -->
	                        <ul class="pagination" th:unless = "${param.donationSearch}">
	                        	<!--<ul class="pagination">-->
	                        
	                            <!-- 첫 페이지로 이동 -->
	                            <li><a th:href="@{/mypage/admin/donationList(cp=1)}">&lt;&lt;</a></li>
	        
	                            <!-- 이전 목록 마지막 번호로 이동 -->
	                            <li><a th:href="@{/mypage/admin/donationList(cp=${pagination.prevPage})}" >&lt;</a></li>
	        
			                    <!-- 특정 페이지로 이동 -->
			                    <!-- #numbers.sequence(시작, 끝[,step]) : 시작 이상, 끝 이하 까지 step만큼 증가하는 숫자를 발생시켜 리스트로 반환-->
			                    <th:block th:each= "i:${#numbers.sequence(pagination.startPage, pagination.endPage, 1)}">
			                    	
			               			<!-- 현재 보고있는 페이지 -->
			            		 	<li th:if = "${i == pagination.currentPage}">
										 <a class="current" th:text = "${i}">현재 페이지</a>
									 </li>
			                    		
			                		<!-- 현재 페이지를 제외한 나머지 -->
			            			<li th:unless = "${i == pagination.currentPage}">
										<a th:href="@{/mypage/admin/donationList(cp=${i})}" th:text = "${i}">나머지 페이지</a>
									</li>                  		
			                   		
			                    </th:block>
				
	                            
			                            
		                        <!-- 다음 목록 시작 번호로 이동 -->
		                        <li><a th:href = "@{/mypage/admin/donationList(cp=${pagination.nextPage})}">&gt;</a></li>
		    
		                        <!-- 끝 페이지로 이동 -->
		                        <li><a th:href = "@{/mypage/admin/donationList(cp=${pagination.maxPage})}">&gt;&gt;</a></li>
		    
	                        </ul>
	                        
	                        
            				<!-- 검색 O  페이지 네이션 --> 
			                <ul class="pagination" th:if = "${param.donationSearch}" >
			                	<!--<ul class="pagination" >-->

			                    <li><a th:href="@{/mypage/admin/donationList(cp=1, donationSearch = ${param.donationSearch})}">&lt;&lt;</a></li>
			
			                    <li><a th:href="@{/mypage/admin/donationList(cp=${pagination.prevPage},donationSearch = ${param.donationSearch})}">&lt;</a></li>
			
								
			                    <!-- 특정 페이지로 이동 -->
			                    <!-- #numbers.sequence(시작, 끝[,step]) : 시작 이상, 끝 이하 까지 step만큼 증가하는 숫자를 발생시켜 리스트로 반환-->
			                    <th:block th:each= "i:${#numbers.sequence(pagination.startPage, pagination.endPage, 1)}">
			                    	
			               			<!-- 현재 보고있는 페이지 -->
			            		 	<li th:if = "${i == pagination.currentPage}">
										 <a class="current" th:text = "${i}">현재 페이지</a>
									 </li>
			                    		
			                		<!-- 현재 페이지를 제외한 나머지 -->
			            			<li th:unless = "${i == pagination.currentPage}">
										<a th:href="@{/mypage/admin/donationList(cp=${i},donationSearch = ${param.donationSearch})}" th:text = "${i}">나머지 페이지</a>
									</li>                  		
			                   		
			                    </th:block>
			                    
			                    
			                    
		                        <!-- 다음 목록 시작 번호로 이동 -->
		                        <li><a th:href = "@{/mypage/admin/donationList(cp=${pagination.nextPage},donationSearch = ${param.donationSearch})}">&gt;</a></li>
		    
		                        <!-- 끝 페이지로 이동 -->
		                        <li><a th:href = "@{/mypage/admin/donationList(cp=${pagination.maxPage},donationSearch = ${param.donationSearch})}">&gt;&gt;</a></li>
			
			                </ul>	
	                        
	                    </div>
                    </th:block>
                    
                    

                </div>
            </section>
        </main>
        
       
		<th:block th:replace="~{common/chatbot}"></th:block>
        <img th:src="@{/images/chat.png}" class="fixed-image" id="chat-image">
        <a th:href="@{/donation}"><img th:src="@{/images/donation.png}" class="fixed-image" id="donate-image"></a>

	    <th:block th:replace="~{common/footer}"></th:block>



		<!-- <script th:inline="javascript">

			<td>donationType 에 넣어서 사용</td>    th:onclick="|donationDetail(${donationState.count}, this)|"


			function donationDetail(donationNo,btn) {

				const area = document.createElement("tr");
				area.classList.add("donationTBodyTr");
				area.classList.add("cssTest");

				const test1 = document.createElement("td");
				const test2 = document.createElement("td");
				const test3 = document.createElement("td");
				const test4 = document.createElement("td");
				const test5 = document.createElement("td");

				test1.innerText = "예시1";
				test2.innerText = "예시2";
				test3.innerText = "예시3";
				test4.innerText = "예시4";
				test5.innerText = "예시5";

				area.append(test1);
				area.append(test2);
				area.append(test3);
				area.append(test4);
				area.append(test5);

				btn.parentElement.after(area);

				setTimeout(() => {

					area.classList.add("visible");
				}, 10); // 약간의 딜레이를 두어 트랜지션 효과가 발동하도록 함


			}

		</script> -->

		

    </body>
</html>