<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Combined Bar and Line Chart</title>
    <script th:src="@{https://cdn.jsdelivr.net/npm/chart.js}"></script>
    <script th:src="@{https://kit.fontawesome.com/ac58eafae7.js}" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/mypage/admin/DonationStatus.css}">
</head>
<body style="overflow-x: hidden">
	
	<th:block th:replace="~{common/header}"></th:block>
	
    <main>
        <!-- 타이틀 변경-->
        <section class = "adminIntroArea">
            <div class = "adminIntroTitle">
                후원금 현황
            </div>
            <hr>
        </section>

        <!-- nav + 내용작성 -->
        <section class = "adminContentArea">

            <!-- nav 자리-->
            <nav class = "navAdmission">
                <th:block th:replace="~{common/nav_admin}"></th:block>
            </nav>

            <!-- 내용 영역-->
            <div class = "adminContentContainer">
                <div id="chartContainer" style="padding: 40px;">
                    <canvas id="myChart"></canvas>
                </div>
            </div>
        </section>
        
      
    </main>
    
	<th:block th:replace="~{common/footer}"></th:block>
    
    

    <script th:inline="javascript">

        // 회원 후원 현황
        const member = /*[[${member}]]*/ [];

        //비회원 후원 현황
        const nonMember = /*[[${nonMember}]]*/ [];

        // 개월에 해당하는 데이터를 배열로 저장
        const months = member.map(function(item) {
            return item.DONATION_MONTH + "월";
        });

        // 회원 후원금에 해당하는 데이터를 배열로 저장
        const memberDonation = member.map(function(item) {
            return item.DONATION_AMOUNT/10000;
        });

        // 비회원 후원금에 해당하는 데이터를 배열로 저장
        const nonMemberDonation = nonMember.map(function(item) {

            return item.DONATION_AMOUNT/10000;
        });
    
        const maxArr = [
            ...memberDonation,
            ...nonMemberDonation
        ]

        const maxValue = Math.max(...maxArr) + 10;
        console.log("maxValue : ", maxValue);

        const ctx = document.getElementById('myChart').getContext('2d');
    
        const chart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: months,
                datasets: [

                {
                        label: '회원 후원금(만원)',
                        type: 'line',
                        data: memberDonation,
                        fill: false,
                        backgroundColor: 'rgba(244, 228, 214, 1)',
                        borderColor: 'rgba(254, 168, 93, 0.6)',
                        borderWidth: 2,
                        pointRadius: 5,
                        showInLegend: false // 범례에 표시하지 않음
                        

                    },
                    {   
                        label: '비회원 후원금(만원)',
                        type: 'line',
                        data: nonMemberDonation,
                        fill: false,
                        backgroundColor: 'rgba(255, 99, 132, 0.4)',
                        borderColor: 'rgba(255, 99, 132, 0.5)',
                        borderWidth: 2,
                        pointRadius: 5,
                        showInLegend: false // 범례에 표시하지 않음
                        
                    },
                    {
                        label: '',
                        data: memberDonation,
                        backgroundColor: 'rgba(254, 228, 214, 1)',
                        borderColor: 'rgba(254, 228, 214, 0.5)',
                        borderWidth: 1,
                        categoryPercentage: 0.8,
                        barPercentage: 0.8,
                        showInLegend: false // 범례에 표시하지 않음
                    },
                    {
                        label: '',
                        data: nonMemberDonation,
                        backgroundColor: 'rgba(255, 99, 132, 0.2)',
                        borderColor: 'rgba(255, 99, 132, 0.5)',
                        borderWidth: 1,
                        categoryPercentage: 0.8,
                        barPercentage: 0.8,
                        showInLegend: false // 범례에 표시하지 않음
                       
                    },
                   
                ]
            },
            options: {
                plugins: {
                    legend: {
                        display: true,
                        position: 'top',
                        labels: {
                        boxWidth: 25,
                        fontSize: 12,
                        fontColor: 'rgba(0, 0, 0, 1)'
                        }
                    }
                },
                tooltips: {
                    callbacks: {
                        label: function (tooltipItem, data) {
                            var datasetLabel = data.datasets[tooltipItem.datasetIndex].label || '';
                            return datasetLabel + ': ' + tooltipItem.yLabel + ' 만원';
                        }
                    }
                },

                scales: {
                    x: {
                        beginAtZero: true,
                        display: true,
                        maxLines: 1,
                        offset: true,
                        grid: {
                            display: false // x 축 그리드 없애기
                        },
                        offset: true, // 축 이동 허용
                    },
                    y: {
                        beginAtZero: true,
                        max: maxValue,
                        stepSize: 5,
                        display: true,

                        title: {
                            display: true,
                            text: '만원',
                            padding: { top: 10, bottom: 10 }
                        },

                        grid: {
                            display: false // y 축 그리드 없애기
                        }

                    }
                }
            }
        });



       



    </script>
    
    
    

</body>
</html>


