<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원 관리 (관리자)</title>
    
    <link rel="stylesheet" th:href="@{/css/mypage/admin/memberList_admin.css}">
    
    <script th:src="@{https://kit.fontawesome.com/ac58eafae7.js}" crossorigin="anonymous"></script>
</head>
<body>
	<!-- 헤더 -->
    <th:block th:replace="~{common/header}"></th:block>
	
    <main th:with="pagination=${map.pagination}, memberList=${map.memberList}">
        <section class = "adminIntroArea">
            <div class = "adminIntroTitle">
                회원 관리
            </div>
            <hr>
        </section>

        <section class = "adminContentArea">

            <!-- nav 자리-->
            <nav class = "navAdmission">
                <th:block th:replace="~{common/nav_admin}"></th:block>
            </nav>

            <!-- 회원관리 내용 영역-->
            <div class = "adminContentContainer">

                <!-- 회원 검색 창-->
                <div class = "adminSearchArea">
                    <form th:action="@{/#}" name="adminMemberSearch" id="memberSearchForm">
                        <fieldset class = "adminSearch">
                            <input type="search" id="memberSearch" name="memberSearch" class = "applyInput"
                            autocomplete="on" placeholder="회원 정보 검색">
                            <button id="searchBtn" class="fa-solid fa-magnifying-glass"></button>
                        </fieldset>
                    </form>	 
                </div>


                <!-- 회원 리스트 -->
                <div class = "adminMemberListContainer">

                    <table class="memberListTable">
            
                        <thead>
                            <tr class = "memberTheadTr">
                                <th>번호</th>
                                <th>아이디</th>
                                <th>이름</th>
                                <th>이메일</th>
                                <th>닉네임</th>
                                <th>전화번호</th>
                                <th>관리</th>
                            </tr>
                        </thead>
    
                        <tbody>
							
							<!-- 회원리스트 없을 경우 -->
							<th:block th:if="${#lists.size(memberList) == 0}">
								<tr id="no-list">
									<th colspan="7">회원 목록이 존재하지 않습니다.</th>
								</tr>
							</th:block>
                            
                            <!-- 회원리스트 있을 경우 -->
                            <th:block th:unless="${#lists.size(memberList) == 0}">	
	                            <tr class = "memberBodyTr" th:each="member : ${memberList}">
	                                <td th:text="${member.memberNo}">회원 번호</td>
	                                <td th:text="${member.memberId}">회원 아이디</td>
	                                <td th:text="${member.memberName}">회원 이름</td>
	                                <td th:text="${member.memberEmail}">회원 이메일</td>
	                                <td th:text="${member.memberNickname}">회원 닉네임</td>
	                                <td th:text="${member.memberTel}">
										회원 전화번호</td>
										
									<!-- 탈퇴 안한 사람의 경우 -->	
                            		<th:block th:if="${member.memberDelYn == 'N'}">	
	                                	<td><button type="button" th:onclick="|memberDel(${member.memberNo})|">탈퇴하기</button></td>
	                                </th:block>
	                                
	                                <!-- 탈퇴한 사람의 경우 -->	
                            		<th:block th:if="${member.memberDelYn == 'Y'}">	
	                                	<td><button id="memberDel-btn">탈퇴완료</button></td>
	                                </th:block>
	                            </tr> 	
							</th:block>                  

                        </tbody>
                    </table>
                </div>


                <!-- 페이지네이션 -->
                <!-- 회원리스트가 있을 때만 페이지네이션 보이기 -->
                <div class="paginationArea" th:if="${#lists.size(memberList) > 0}">
                    <ul class="pagination">
                    
                        <!-- 첫 페이지로 이동 -->
                        <li><a th:href="@{/mypage/admin/memberListAdmin(cp=1)}">&lt;&lt;</a></li>
    
                        <!-- 이전 목록 마지막 번호로 이동 -->
                        <li><a th:href="@{/mypage/admin/memberListAdmin(cp=${pagination.prevPage})}">&lt;</a></li>
    
                        
                        <!-- 특정 페이지로 이동 -->
                        <!-- jsp 코드 
                        <c:forEach var="i" begin="${pagination.startPage}" end = "${pagination.endPage}" step="1">
                            
                            <c:choose>
                                <c:when test="${i == pagination.currentPage }">
                                    <li><a class="current">${i}</a></li>
                                </c:when>
                                
                                <c:otherwise>
                                    <li><a href="/board/${boardCode}/?cp=${i}${kq}">${i}</a></li>                  		
                                </c:otherwise>
                            </c:choose>
                            
                        </c:forEach>
                        -->
                        
                        <!-- 특정 페이지로 이동 -->
                        <!-- #numbers.sequence(시작, 끝, [,step]) : 시작 이상, 끝 이하 까지 step 만큼 증가하는 숫자를 발생시켜 리스트로 반환 -->
                        <th:block th:each="i : ${#numbers.sequence(pagination.startPage, pagination.endPage, 1)}">
							
							<li th:if="${i == pagination.currentPage}">
								<a class="current" th:text="${i}">현재 페이지</a>
							</li>
							
							<li th:unless="${i == pagination.currentPage}">
	                            <a th:href="@{/mypage/admin/memberListAdmin(cp=${i})}"
	                                th:text="${i}">나머지 페이지</a>
                        	</li>
							
						</th:block>
                        
                        <!-- 다음 목록 시작 번호로 이동 -->
                        <li><a th:href = "@{/mypage/admin/memberListAdmin(cp=${pagination.nextPage})}">&gt;</a></li>
    
                        <!-- 끝 페이지로 이동 -->
                        <li><a th:href = "@{/mypage/admin/memberListAdmin(cp=${pagination.maxPage})}">&gt;&gt;</a></li>
    
                    </ul>
                </div>

            </div>
        </section>
    </main>
    
    <a th:href="@{/#}"><img th:src="@{/images/chat.png}" class="fixed-image" id="chat-image"></a>
    <a th:href="@{/#}"><img th:src="@{/images/donation.png}" class="fixed-image" id="donate-image"></a>
    
    <!-- 풋터 -->
    <th:block th:replace="~{common/footer}"></th:block>
    
    <script th:src="@{/js/mypage/admin/memberList_admin.js}"></script>
    
    <script th:inline="javascript">
		const message = /*[[${message}]]*/ "전달 받은 메세지";
		if(message != null) alert(message);
	</script>
</body>
</html>