<!DOCTYPE html>
<html lang="ko" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello WebSocket</title>
   	<link th:href="@{/css/common/chatbot.css}" rel="stylesheet">
</head>
<body>
   
	<div id="main-container" class="container">
		<div id="title-container">
			<section id="titleSection">
				<div class="row">
					<div class="col-md-6">
						<form class="form-inline">
							<div class="form-group">
								<button id="disconnect" class="btn btn-default" type="submit" disabled="disabled">연결해제
								</button>
							</div>
						</form>
					</div>
					<div class="col-md-6">
						<form class="form-inline">
							<div class="form-group">
								<label for="msg">문의사항</label>
								<input type="text" id="msg" class="form-control" placeholder="내용을 입력하세요....">
								<button id="send" class="sendButton" disabled type="submit">보내기</button> 
							</div>
							
						</form>
					</div>
				</div>
			</section>
		</div>
		<br>
		<hr>
		<div id="content-container">
			<section id="contentSection">
				<div class="row">
					<div class="col-md-12">
						<table id="conversation" class="table table-striped">
							<br>
							<tbody id="communicate">
							</tbody>
							<div id="scroll"></div>
						</table>
					</div>
				</div>
			</section>
		</div>
	</div>
	
	
	   


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    
    
    <script th:src="@{/js/chatbot/chatbot.js}" charset="UTF-8"></script>
</body>
</html>