<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>메인 페이지</title>

	<link rel="stylesheet" th:href="@{/css/main/main.css}">
	<link rel="stylesheet" th:href="@{/css/main/sideAlarm.css}">
</head>

<body>
	

	<th:block th:replace="~{common/header}"></th:block>
	<th:block th:replace="~{common/sideAlarm}"></th:block>
	<main>


		<div class="search-container">
        	<form th:action="@{/search}" id="searchForm" method="POST">
				<input type="text" id="search-box" name="searchInput" placeholder="견종을 입력하세요.">
				<img th:src="@{/images/main/Vector.png}" alt="검색" class="search-icon">
        	</form>
		</div>


		<div class="dog-photo-grid">
			<div class="dog-photo">
				<img th:src="@{/images/main/dog1.png}" alt="강아지 1" class="active">
				<div class="dog-info">

					<p>멍멍이</p>
					<p>골든 리트리버</p>
				</div>
			</div>
			<div class="dog-photo">
				<img th:src="@{/images/main/dog2.png}" alt="강아지 1" class="active">
				<div class="dog-info">
					<p>바보개</p>
					<p>호랑이</p>
				</div>
			</div>
			<div class="dog-photo">
				<img th:src="@{/images/main/dog3.png}" alt="강아지 1" class="active">
				<div class="dog-info">
					<p>바보개</p>
					<p>호랑이</p>
				</div>
			</div>
			<div class="dog-photo">
				<img th:src="@{/images/main/dog4.png}" alt="강아지 1" class="active">
				<div class="dog-info">
					<p>바보개</p>
					<p>호랑이</p>
				</div>
			</div>
			
			
			<a href="http://localhost/adopt/dogList/5">
    <div class="dog-photo">
        <img src="/images/main/dog5.png" alt="강아지 1" class="active">
        <div class="dog-info">
            <p>먹태깡</p>
            <p>믹스견</p>
        </div>
    </div>
</a>
			
			
			<div class="dog-photo">
				<img th:src="@{/images/main/dog6.png}" alt="강아지 1" class="active">
				<div class="dog-info">
					<p>바보개</p>
					<p>호랑이</p>
				</div>
			</div>
			<div class="dog-photo">
				<img th:src="@{/images/main/dog7.png}" alt="강아지 1" class="active">
				<div class="dog-info">
					<p>바보개</p>
					<p>호랑이</p>
				</div>
			</div>
			<div class="dog-photo">
				<img th:src="@{/images/main/dog8.png}" alt="강아지 1" class="active">
				<div class="dog-info">
					<p>바보개</p>
					<p>호랑이</p>
				</div>
			</div>
			<div class="dog-photo">
				<img th:src="@{/images/main/dog9.png}" alt="강아지 1" class="active">
				<div class="dog-info">
					<p>바보개</p>
					<p>호랑이</p>
				</div>
			</div>
			<div class="dog-photo">
				<img th:src="@{/images/main/dog10.png}" alt="강아지 1" class="active">
				<div class="dog-info">
					<p>바보개</p>
					<p>호랑이</p>
				</div>
			</div>
			<div class="dog-photo">
				<img th:src="@{/images/main/dog11.png}" alt="강아지 1" class="active">
				<div class="dog-info">
					<p>바보개</p>
					<p>호랑이</p>
				</div>
			</div>
			<div class="dog-photo">
				<img th:src="@{/images/main/dog12.png}" alt="강아지 1" class="active">
				<div class="dog-info">
					<p>바보개</p>
					<p>호랑이</p>
				</div>
			</div>
		</div>
		
		<a th:href="@{http://localhost/adopt/dogList}">
			<div class="more-button">더 보기</div>
		</a>

      <a th:href="@{/donation}"><img th:src="@{/images/donation.png}" class="fixed-image" id="donate-image"></a>
	    <a th:href="@{/#}"><img th:src="@{/images/chat.png}" class="fixed-image" id="chat-image"></a>

	</main>

	
	<th:block th:replace="~{common/chatbot}"></th:block>
	<th:block th:replace="~{common/footer}"></th:block>

</body>

</html>