<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>메인 페이지</title>

	<link rel="stylesheet" th:href="@{/css/main/main.css}">
	<link rel="stylesheet" th:href="@{/css/main/sideAlarm.css}">
	<script th:src="@{https://kit.fontawesome.com/ac58eafae7.js}" crossorigin="anonymous"></script>
</head>

<body>
	

	<th:block th:replace="~{common/header}"></th:block>
	<th:block th:replace="~{common/sideAlarm}"></th:block>
	<main>

		<div class="search-container">
        	<form th:action="@{/search}" id="searchForm" method="POST">
				<input type="text" id="search-box" name="searchInput" placeholder="견종을 입력하세요.">
				<button class = " search-icon fa-solid fa-magnifying-glass" id = "searchBtn"></button>
        	</form>
		</div>


		<div class="dog-photo-grid">
			
			<div class="dog-photo" th:each = "dog : ${dogList}">
				<a th:href="@{/adopt/dogList/{dogNo}(dogNo=${dog.dogNo})}">
					<img th:src="${dog.imgPath + dog.imgRename}" alt="강아지 1" class="active">
				</a>
				<a th:href="@{/adopt/dogList/{dogNo}(dogNo=${dog.dogNo})}">
					<div class="dog-info">
						<p>[[${dog.dogName}]]</p>
						<p>[[${dog.breedName}]]</p>
					</div>
				</a>
			</div>
			
		</div>
			
		<a th:href="@{/adopt/dogList}">
			<div class="more-button">더 보기</div>
		</a>
	    <script th:src ="@{/js/event/view.js}"></script>
	    <th:block th:replace="~{event/event}"></th:block>

	</main>

    <a th:href="@{/donation}"><img th:src="@{/images/donation.png}" class="fixed-image" id="donate-image"></a>
    <a th:href="@{/#}"><img th:src="@{/images/chat.png}" class="fixed-image" id="chat-image"></a>
    

	
	<th:block th:replace="~{common/chatbot}"></th:block>
	<th:block th:replace="~{common/footer}"></th:block>

</body>
	

</html>