<!-- 관리자인 경우 -->
<th:block th:if="${session.loginMember.adminYn == 'Y'}">
    <ul>
        <li> <a th:href = "@{/mypage/admin/adminInquiryBox}" id="adminInquiryBox" th:onclick="setActiveLink(inquiry)"> 1:1 문의함</a></li>
        <li> <a th:href = "@{/mypage/admin/reservationList_admin}" id="reservationList_admin" th:onclick="setActiveLink(inquiry)"> 예약 내역</a> </li>
        <li> <a th:href = "@{/mypage/admin/donationList}" id="donationList" th:onclick="setActiveLink(donationList)"> 후원 내역</a> </li>
        <li> <a th:href = "@{/mypage/admin/admissionList}" id="admissionList" th:onclick="setActiveLink(admissionList)"> 입소신청 내역</a></li>
        <li> <a th:href = "@{/mypage/admin/memberListAdmin}" id="memberListAdmin" th:onclick="setActiveLink(memberList)"> 회원 관리</a></li>
        <li class="hasSubmenu"> <a th:href="@{#}" class="toggleSubmenu" th:onclick="return false;">관리 현황 </a>
            <ul class="submenu">
                <li><a th:href="@{/mypage/admin/dogStatus}" id="dogStatus" th:onclick="setActiveLink(dogStatus)">유기견 현황</a></li>
                <li><a th:href="@{/mypage/admin/donationStatus}" id="donationStatus" th:onclick="setActiveLink(donationStatus)">후원 현황</a></li>
            </ul>
        </li>
    </ul>




    <script>
        document.addEventListener('DOMContentLoaded', function () {

            const submenuItems = document.querySelectorAll('.hasSubmenu');

            submenuItems.forEach(function (item) {
                item.addEventListener('click', function () {
                    const submenu = this.querySelector('.submenu');
                    submenu.classList.toggle('active');
                });
            });
        


            const link = ['adminInquiryBox', 'reservationList_admin', 'donationList', 'admissionList', 
                        'memberListAdmin', 'dogStatus', 'donationStatus'];
            const href = window.location.href;
            const lastSegment = href.substring(href.lastIndexOf('/') + 1);
            console.log(lastSegment);
        
            // 링크에 해당하는 클래스를 찾아서 스타일 적용
            
            link.forEach(linkId => {
                if (linkId === lastSegment) {
                    const element = document.getElementById(linkId);
                    if (element) {
                        element.style.textDecoration = 'underline #FF9B9B 2.5px'; 
                        element.style.textUnderlineOffset = '10px'; 
                    }
                }
            });

   	    });

    </script>
    
</th:block>

