
<th:block th:if="${session.loginMember}">

    <div class="alarmContainer">
        <div class="menu-btn" onclick="toggleMenu()">☰ Menu</div>

        <div class="sidebar" id="sidebar">
            
    
            <th:block th:unless="alarmList">
                            
                <p>알림사항이 존재하지 않습니다.</p>
           
            </th:block>
    
    
    
            <th:block th:if="alarmList">
    
                <ul th:each="alarm : ${alarmList}">
    
                    <li th:with="path=|${alarm.alarmImgPath}${alarm.alarmImgName}|">
                        <img th:src="${path}" >
                    </li>
    
                    <th:block th:if="${alarm.ararmCategory == 'D'}">
                      <p th:text="|${loginMember.memberNickname} 님이 예약하셨던 강아지가 다른 회원분께 입양되었습니다.|"></p>
                    </th:block>
    
                    <th:block th:if="${alarm.ararmCategory == 'M'}">
                        <p th:text="|${loginMember.memberNickname} 님의 정기 결제일이 얼마 남지 않았습니다.|"></p>
                    </th:block>
    
                    <th:block th:if="${alarm.ararmCategory == 'C'}">
                        <p th:text="|${loginMember.memberNickname} 님의 쿠폰 사용기간이 얼마 남지 않았습니다!|"></p>
                    </th:block>
                    
                </ul>
                <p>알림내용있음</p>
              
            </th:block>
    
    
        </div>
       
    </div>

</th:block>

  

<script>
    function toggleMenu() {
    const sidebar = document.getElementById("sidebar");
    sidebar.style.width = sidebar.style.width === "285px" ? "0" : "285px";
    }
</script>