
<th:block th:if="${session.loginMember}">

    <div class="alarmContainer">
        <div class="menu-btn" onclick="toggleMenu()">☰ Menu</div>

        <div class="sidebar" id="sidebar">
            
            <!-- <th:block th:unless="${session.alarmList}">
                            
                <p>알림사항이 존재하지 않습니다.</p>
       
            </th:block> -->
            
    
            <th:block th:if="${#lists.size(session.alarmList) == 0}">
                            
                <p>알림사항이 존재하지 않습니다.</p>
           
            </th:block>
    
    
    
            <th:block th:unless="${#lists.size(session.alarmList) == 0}">
    
                <ul th:each="alarm : ${session.alarmList}">
    
                    <li th:with="path=|${alarm.alarmImgPath}${alarm.alarmImgName}|">
                        <img id="alarmImg" th:src="${path}" />
                        <span th:onclick="|deleteAlarm(${alarm.alarmNo} ,this)|">&times;</span>
                        <br>
                    </li>
    
                    <th:block th:if="${alarm.alarmCategory == 'D'}">
                      <p th:text="|${session.loginMember.memberNickname} 님이 예약하셨던 강아지가 다른 회원분께 입양되었습니다.|"></p>
                      <br>
                    </th:block>
    
                    <th:block th:if="${alarm.alarmCategory == 'M'}">
                        <p th:text="|${session.loginMember.memberNickname} 님의 정기 결제일이 얼마 남지 않았습니다.|"></p>
                        <br>
                    </th:block>
    
                    <th:block th:if="${alarm.alarmCategory == 'C'}">
                        <p th:text="|${session.loginMember.memberNickname} 님의 쿠폰 사용기간이 얼마 남지 않았습니다!|"></p>
                        <br>
                    </th:block>
                    
                </ul>
                
              
            </th:block>
    
    
        </div>
       
    </div>

</th:block>

  

<script th:inline="javascript">

    function toggleMenu() {
    const sidebar = document.getElementById("sidebar");
    sidebar.style.width = sidebar.style.width === "285px" ? "0" : "285px";
    }

    const alarmNo = /*[[alarmList.alarmNo]]*/ "알림번호";

    const memberNo = /*[[session.loginMember?.memberNo]]*/ "회원번호";

</script>

<script th:src="@{/js/member/sideAlarm.js}"></script>