<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>입양후기 상세조회</title>
  	<script th:src="@{https://kit.fontawesome.com/ac58eafae7.js}" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/adoptReview/ReviewDetail.css}">
</head>
<body>
	
	<th:block th:replace="~{common/header}"></th:block>
     
    
    <main>

        <div class="mainContainer">
            <div>입양후기</div>
            <div>안락사 없는 동물보호소 멍프랜드에서 행복한 입양 후기를 남겨주세요~</div>
    
            <div>입양리뷰 인증게시판</div> 
            <span style="text-align: end;" th:text="|조회수 : ${review.reviewCount} |">조회수</span>
    
            <section class="titleContainer"> 
                <div class="boardRectangle"></div>
                <div>제목</div>
                <div class="boardRectangle"></div>
                <div class="titleContent" th:text="${review.reviewTitle}">제목</div>

                <!-- 이미지 출력(반복문) -->
                <th:block th:if="${#lists.size(review.imageList) > 0 }">
				
					<div class="boardImage">
						
						<th:block th:each="i : ${#numbers.sequence(0, #lists.size(review.imageList)-1, 1)}" >

							<div th:with="path=|${review.imageList[i].imagePath}${review.imageList[i].imageReName}|">
								
								<img th:src="${path}">
								           
							</div>
								
						</th:block>
		
					</div>
								
				</th:block>
              
            </section>
    
            <section class="contentContainer">
    
                <div class="boardRectangle"></div>
                <div class="contentTitle">내용</div>
                <div class="boardRectangle"></div>
                <p id="boardContent" th:text="${review.reviewContent}">
                    내용
                </p>

                <div class="boardRectangle"></div>
    
            
		
                <!-- 부모/자식 댓글 -->
                <ul id="commentList" >


                    <li class="comment-row" 
                    th:each="comment : ${review.commentList} " 
                    th:classappend="${comment.parentComment} != 0 ? replyContainer : commentContainer"
                    th:object = "${comment}" >

                        <!-- 닉네임 -->
                        <p>[[*{memberNickname}]]</p>
                        

                        <!-- 댓글 내용 -->
                        <p class="comment-content">[[*{commentContent}]]</p>


                        <!-- 작성일 -->
                        <p class="comment-date">[[*{commentDate}]]</p>
                   
                    
                        <!-- 버튼 영역 -->
                        <div class="comment-btn-area">

                            <th:block th:if="${session.loginMember}">
                                <button th:onclick="|showInsertComment(${comment.commentNo}, this)|">답글</button> 
                            </th:block>    
                           

                            <th:block th:if="${session.loginMember?.memberNo == comment.memberNo or session.loginMember?.adminYn == 'Y'}">  
                                
                                <button th:onclick="|showUpdateComment(${comment.commentNo}, this)|">수정</button>	
                                <button th:onclick="|deleteComment(${comment.commentNo})|">삭제</button>
                        
                            </th:block> 
                            
                        </div>

                  
                    </li>
                </ul>
                


                <!-- 댓글 작성 부분 -->
              
                    <div class="comment-write-area">
                        <textarea id="commentContent"></textarea>
                        <th:block th:if="${session.loginMember}">
                            <button id="addComment">
                                댓글<br>
                                등록
                            </button>
                        </th:block>   
                    </div>
                
                    
            </section>
    
    
        </div>
       

        <section class="buttons">

            <th:block th:if="${session.loginMember?.memberNo == review.memberNo or session.loginMember?.adminYn == 'Y'}">
                <button id="updateReview"><a th:href="@{/adoptReview/updateReview/{reviewNo} (reviewNo = ${review.reviewNo}, cp=${cp})}">수정하기</a></button>
                <button id="deleteReview" th:onclick="|deleteConfirm(${review.reviewNo},${cp})|">삭제하기</button>
            </th:block>

            <button id="toList"><a th:href="@{/adoptReview/reviewList/{cp}(cp = ${cp})}">목록으로</a></button>
            
        </section>

        
    </main>
   
    <th:block th:replace="~{common/chatbot}"></th:block>
    

    <img th:src="@{/images/chat.png}" class="fixed-image" id="chat-image">
    <a th:href="@{/donation}"><img th:src="@{/images/donation.png}" class="fixed-image" id="donate-image"></a>

    <script th:inline="javascript">
	
		
		const reviewNo = /*[[${review.reviewNo}]]*/ "게시글 번호";
		
		const loginMemberNo = /*[[${session.loginMember?.memberNo}]]*/ "로그인 회원번호";
		
        console.log("로그인 회원번호 : ", loginMemberNo)

		if(loginMemberNo == null){
			loginMemberNo = "";
		}
		
	
	</script>

   <th:block th:replace="~{common/footer}"></th:block>    
   <script th:src="@{/js/adoptReview/ReviewDetail.js}"></script>
</body>
</html>