<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>입양후기</title>
    <link rel="stylesheet" th:href="@{/css/adoptReview/ReviewList.css}">
  	<script th:src="@{https://kit.fontawesome.com/ac58eafae7.js}" crossorigin="anonymous"></script>
</head>


<body>
	
	<th:block th:replace="~{common/header}"></th:block>

	<main th:with="pagination=${map.pagination}, reviewList=${map.reviewList}" >

	    <div class="mainContainer">
	        <div>입양후기</div>
	        <div>안락사 없는 동물보호소 멍프랜드에서 행복한 입양 후기를 남겨주세요~</div>
	
	        <div>입양리뷰 인증게시판</div> 
	
	       
	        <table class="boardList"> 
	           
	            <thead>
	                <tr>
	                    <td class="boardRectangle"></td>
	                </tr>
	                <tr class="boardTitle">
	                    <th>게시글 번호</th>
	                    <th>제목</th>
	                    <th>작성자</th>
	                    <th>작성일</th>
	                    <th>조회수</th>
	                </tr>
	                <tr>
	                    <td class="boardRectangle"></td>
	                </tr>
	            </thead>
				
				
                    	
				<tbody>

					<th:block th:if="${#lists.size(reviewList)} == 0">
						
						 <tr>
							 <th colspan="6">게시글이 존재하지 않습니다.</th>
						 </tr>

					</th:block>

				</tbody>	
					
				<th:block th:unless="${#lists.size(reviewList)} == 0">

					<tbody th:each="board : ${reviewList}">
							
						<tr class="boardContent"> 

							<td th:text="${board.reviewNo}">게시글 번호</td>

							<td> 

								<a th:href="@{/adoptReview/reviewDetail/{reviewNo}(reviewNo=${board.reviewNo}, cp=${pagination.currentPage})}" th:text="${board.reviewTitle}">게시글 제목</a> 
								
								<!-- <a th:if="${param.query}" th:href="@{/adoptReview/reviewDetail/{reviewNo}(reviewNo=${board.reviewNo}, cp=${pagination.currentPage})}" th:text="${board.reviewTitle}">게시글 제목</a>  -->

							</td>

							<td th:text="${board.memberNickname}">작성자</td>

							<td th:text="${board.reviewDate}">작성일</td>

							<td th:text="${board.reviewCount}">조회수</td>

						</tr>

						<tr>
							<td class="boardRectangle_1"></td>
						</tr>

					</tbody>

				</th:block>

	           
	           
	        </table>
	
	
	        <button th:if="@{session.loginMember}"  id="writeReview"><a th:href="@{/adoptReview/reviewInsert}">글쓰기</a></button>
	
	
			<!-- 검색창 -->
	        <div> 
				<form th:action="@{/adoptReview/reviewList/1}" method="get" id="searchContainer">
					<select name="searchType" id="searchType">
						<option value="title">제목</option>
						<option value="content">내용</option>
						<option value="writer">작성자</option>
					</select>
					<input type="text" name="searchContent" id="searchContent" placeholder="검색어를 입력해주세요.">
					<button id="searchButton">검색</button>
				</form>
	        </div>
			
		
			<!-- 게시글이 있을 때만 페이지네이션 보이기 -->
			<div th:if="${#lists.size(reviewList) > 0 }" class="pagination-area">


				<ul class="pagination">
				
					<!-- 첫 페이지로 이동 -->
					<li><a th:href="@{/adoptReview/reviewList/{cp}(cp=1)}">&lt;&lt;</a></li>
			
					<!-- 이전 목록 마지막 번호로 이동 -->
					<li><a th:href="@{/adoptReview/reviewList/{cp}(cp=${pagination.prevPage})}">&lt;</a></li>

					
					<!-- 특정 페이지로 이동 -->
					<!-- #numbers.sequence(시작,끝[,step]) : 시작 이상 끝 이하까지 step 만큼 증가하는 숫자를 발생시켜 리스트로 반환 -->
					<th:block th:each="i : ${#numbers.sequence(pagination.startPage, pagination.endPage, 1)}">
					
						<!-- 현재 보고있는 페이지 -->
						<li th:if="${i== pagination.currentPage}">
							<a class="current" th:text="${i}">현재 페이지</a>
						</li>
					
					
						<!-- 현재 페이지를 제외한 나머지 -->		
						<li th:unless ="${i== pagination.currentPage}">
							<a th:href="@{/adoptReview/reviewList/{cp}(cp=${i})}" th:text="${i}">나머지 페이지</a>
						</li>
							
					
					</th:block>
					
					<!-- 다음 목록 시작 번호로 이동 -->
						<li><a th:href="@{/adoptReview/{cp}(cp=${pagination.nextPage})}">&gt;</a></li>

					<!-- 끝 페이지로 이동 -->
						<li><a th:href="@{/adoptReview/{cp}(cp=${pagination.maxPage})}">&gt;&gt;</a></li>

				</ul>
			
				

			</div>
	

	    </div>		
		
		
	</main>

	<th:block th:replace="~{common/chatbot}"></th:block>

    <a th:href="@{/#}"><img th:src="@{/images/chat.png}" class="fixed-image" id="chat-image"></a>
    <a th:href="@{/#}"><img th:src="@{/images/donation.png}" class="fixed-image" id="donate-image"></a>
	
    <th:block th:replace="~{common/footer}"></th:block>
	
</body>
</html>


 
