<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>쿠폰함 (사용자)</title>
        <link rel="stylesheet" th:href="@{/css/mypage/member/couponBox_user.css}">
        <script th:src="@{https://kit.fontawesome.com/ac58eafae7.js}" crossorigin="anonymous"></script>
        
    </head>
    <body>

    	<th:block th:replace="~{common/header}"></th:block>
        <main>
            <section class = "userIntroArea">
                <div class = "userIntroTitle">
                    쿠폰함
                </div>
                <hr>
            </section>
            

            <section class = "userContentArea">

                <!-- nav 자리-->
                <nav class = "navUser">
    				<th:block th:replace="~{common/nav_user}"></th:block>
                </nav>

                <!-- 쿠폰함 내용 영역-->
                <div class = "userContentContainer">
					
	       			<th:block th:if="${#lists.size(couponList)} == 0">
						<div class = "allNotList" >
							사용가능한 쿠폰이 존재하지 않습니다.	                  										
						</div>
	       			</th:block>
					<th:block th:unless="${#lists.size(couponList)} == 0">
	                    <!-- 쿠폰 영역 잡기-->
	                    <div class = "userCouponListArea" >
	
	                        <!-- 쿠폰 한개-->
	                        <div class = "userCouponElementArea" th:each="coupon:${couponList}">
	                            <div class = "couponBoxArea">
	                                <div class = "couponBox">
	                                    <div class = "couponImgArea">
	                                        <img th:src="${coupon.couponImg}">
	                                    </div>
	                                    <div class = "couponInfoArea">
	                                        <p>[[${coupon.couponContent}]]</p>
	                                        <p class = "couponInfo">유효기간 : [[${coupon.couponExpiration}]] 까지</p>
	                                    </div>
	                                </div>
	
	                                <div class = "couponBoxPointArea">
	                                    <div class="point"></div>
	                                    <div class="point"></div>
	                                    <div class="point"></div>
	                                    <div class="point"></div>
	                                    <div class="point"></div>
	                                    <div class="point"></div>
	                                </div>
	                            </div>
								<!--
	                            <div class = "couponInfo">
	                                유효기간 : 2023.11.15 까지
	                            </div>
								-->
	                        </div>
	 
	                    </div>
	                 </th:block>
                </div>
            </section>
            
        </main>
        
		<script th:inline = "javascript">
			 var loginMember = /*[[${session.loginMember}]]*/ null;
			 
		</script> 
        
		<th:block th:replace="~{common/chatbot}"></th:block>
		<img th:src="@{/images/chat.png}" class="fixed-image" id="chat-image">
		<a th:href="@{/donation}"><img th:src="@{/images/donation.png}" class="fixed-image" id="donate-image"></a>
		
       
        
	    <th:block th:replace="~{common/footer}"></th:block>
	    
	    
	     
    </body>
</html>