<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>후원내역 (사용자)</title>
        <link rel="stylesheet" th:href="@{/css/mypage/member/donationList_user.css}">
        <script th:src="@{https://kit.fontawesome.com/ac58eafae7.js}" crossorigin="anonymous"></script>
        
    </head>
    <body>

	    <th:block th:replace="~{common/header}"></th:block>
        <main>
            <section class = "userIntroArea">
                <div class = "userIntroTitle">
                    후원 내역
                </div>
                <hr>
            </section>

            <section class = "userContentArea">

                <!-- nav 자리-->
                <nav class = "navUser">
               	 	<th:block th:replace="~{common/nav_user}"></th:block>
                </nav>

                <!-- 후원 내용 영역-->
                <div class = "userContentContainer">

					<th:block th:if="${#lists.size(donationList)} == 0">
						<div class = "allNotList" >
							후원 내역이 없습니다.                  										
						</div>
	       			</th:block>
					<th:block th:unless="${#lists.size(donationList)} == 0">
	                    <!-- 후원 내역 리스트 -->
                    	<div class = "userDonationContainer">
	                        <table class="donationTable">
	                            <thead>
	                                <tr class = "donationTheadTr">
	                                    <th>번호</th>
	                                    <th>일시/정기</th>
	                                    <th>결제 일시 </th>
	                                    <th>후원 금액</th>
	                                </tr>
	                            </thead>
	        
	                            <tbody>
	                                
	                                <tr class = "donationTBodyTr" th:each="donation, donationState:${donationList}">
	                                    <td>[[${donationState.count}]]</td>
	                                    <td>[[${donation.donationType}]]</td>
	                                    <td>[[${donation.donationDate}]]</td>
	                                    <td>[[${donation.donationAmount}]]원</td>
	                                </tr> 	                               

	                            </tbody>
	                        </table>
	                    </div>
	
	
	                    <!-- 페이지 네이션 -->
	                    <div class="paginationArea">
	                        <ul class="pagination">
	                        
	                            <!-- 첫 페이지로 이동 -->
	                            <li><a href="#">&lt;&lt;</a></li>
	        
	                            <!-- 이전 목록 마지막 번호로 이동 -->
	                            <li><a href="#">&lt;</a></li>
	        
	                            
	                            <!-- 특정 페이지로 이동 -->
	                            <!-- jsp 코드 
	                            <c:forEach var="i" begin="${pagination.startPage}" end = "${pagination.endPage}" step="1">
	                                
	                                <c:choose>
	                                    <c:when test="${i == pagination.currentPage }">
	                                        <li><a class="current">${i}</a></li>
	                                    </c:when>
	                                    
	                                    <c:otherwise>
	                                        <li><a href="/board/${boardCode}/?cp=${i}${kq}">${i}</a></li>                  		
	                                    </c:otherwise>
	                                </c:choose>
	                                
	                            </c:forEach>
	                            -->
	                            <li><a class = "current">1</a></li>
	                            <li><a href = "#">2</a></li>
	                            <li><a href = "#">3</a></li>
	                            <li><a href = "#">4</a></li>
	                            <li><a href = "#">5</a></li>
	                            <li><a href = "#">6</a></li>
	                            <li><a href = "#">7</a></li>
	                            <li><a href = "#">8</a></li>
	                            <li><a href = "#">9</a></li>
	                            <li><a href = "#">10</a></li>
	
	                            
	                            
	                            <!-- 다음 목록 시작 번호로 이동 -->
	                            <li><a href="#">&gt;</a></li>
	        
	                            <!-- 끝 페이지로 이동 -->
	                            <li><a href="#">&gt;&gt;</a></li>
	        
	                        </ul>
	                    </div>
					</th:block>
                </div>
            </section>
        </main>
        
        <a th:href="@{/#}"><img th:src="@{/images/chat.png}" class="fixed-image" id="chat-image"></a>
        <a th:href="@{/#}"><img th:src="@{/images/donation.png}" class="fixed-image" id="donate-image"></a>
     
	    <th:block th:replace="~{common/footer}"></th:block>
    </body>
</html>