<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>조회 및 취소</title>

        <link rel="stylesheet" th:href="@{/css/mypage/member/donationListRegular.css}">
        <script th:src="@{https://kit.fontawesome.com/ac58eafae7.js}" crossorigin="anonymous"></script>
    </head>
    <body>

        <!-- 빌링키 받기 위한 값 팝업 -->
        <div id = "regularModalBox">
            <div id = "regularContentArea">
      
                <div id = "regularClose" >&times;</div>

                <div class = "regularArea">

                    <div class = "regularInfo regularTitle" >
						<!--
                        <img th:src = "@{images/member/logo.png}">
                        -->
                        <div>
                            [[${loginMember.memberNickname}]]님의 정기결제 정보 
                        </div>

                    </div>

                    <div class = "regularInfo payAmountInfo" >
                        <div class = "payAmountBox">
                            <div>
                               남은 결제 횟수
                            </div>
                            <div id = "regularCount">
                            </div>
                        </div>
                        <div class = "payAmountBox">
                            <div>
                                다음 결제일 
                            </div>
                            <div id = "nextRegular">
                            </div>
                        </div>
                        <hr class = "regularHr">
                        <div class = "payPeriod">
                            <div id = "regularPeriod">
                                정기 결제 기간 : 2023.12.06 ~ 2024.12.06
                            </div>
                            <div id = "regularPeriod">
                                정기 결제 금액 : 1000원
                            </div>
                            <div id = "regularPeriod">
                                결제 수단 : 신한카드
                            </div>
                            <div id = "nextPay">
                                
                            </div>
                        </div>

                    </div>

                    <div class = "regularInfo regularDetail" >
                        <div>
                            정기결제 내역
                        </div>
						<table class="regularTable">
                            <thead>
                                <tr class = "regularTheadTr">
                                    <th>번호</th>
                                    <th>결제 일시 </th>
                                    <th>후원 금액</th>
                                    <th>상세조회</th>
                                </tr>
                            </thead>
                            
                            <tbody class = "regularBody">
                                <tr class = "regularTheadTr">
                                    <td>1</td>
                                    <td>2023-12-10 09:23:10</td>
                                    <td>1000</td>
                                    <td><div class = "regularInfoCheck" th:onclick="donationInfoCheck()">조회</div></td>
                                </tr>
                                <tr class = "regularTheadTr">
                                    <td>1</td>
                                    <td>2023-12-10 09:23:10</td>
                                    <td>1000</td>
                                    <td><div class = "regularInfoCheck" th:onclick="donationInfoCheck()">조회</div></td>
                                </tr>
                                <tr class = "regularTheadTr">
                                    <td>1</td>
                                    <td>2023-12-10 09:23:10</td>
                                    <td>1000</td>
                                    <td><div class = "regularInfoCheck" th:onclick="donationInfoCheck()">조회</div></td>
                                </tr>
    
                            </tbody>

                            <tfoot class = "regularFoot">
                                <tr>
                                    <td>
                                    </td>
                                    <td>총 후원 금액 :</td>
                                    <td>300원</td>
                                    <td>
                                    </td>
                                </tr>
                            </tfoot>

                        </table>
                    </div>





                    <div class = "regularInfo terminationBtnFlex">
                        <div class = "terminationBtn" id = "terminationBtn">
                            정기 후원 해지
                        </div>
                    </div>
                </div>
            </div>
        </div>    
      
    </body>
</html>