<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이 페이지(유저) -찜한 목록 있을 때</title>
    <link rel="stylesheet" th:href="@{/css/mypage/member/myPageLikeList.css}">
    <script src="https://kit.fontawesome.com/ac58eafae7.js" crossorigin="anonymous"></script>
    
</head>
<body>

    <th:block th:replace="~{common/header}"></th:block>

    <main th:with="likeList=${map.likeList}">
        <!-- 사용자 마이페이지 타이틀 영역-->
        <section class = "userIntroArea">
            <div class = "userIntroTitle">
                찜한 목록
            </div>
            <hr>
        </section>

        <!-- 사용자 마이페이지 내용 영역-->
        <section class = "userContentArea">

            <!-- nav 자리-->
            <nav class = "navUser">
                <th:block th:replace="~{common/nav_user}"></th:block>
            </nav>

            <!-- 내용 작성영역-->
            <div class = "userContentContainer">

                <th:block th:if="${likeList.isEmpty()}">
                    <div class="like-dog-none">
                        <p>찜한 목록이 없습니다.</p>
                    </div>
                </th:block>

                <th:block th:unless="${likeList.isEmpty()}">
                    <button id="prevBtn" type="button">&lt;</button>

                    <div class="like-dog-list">
                        <div class="like-dog" th:each="like : ${likeList}">
                            <div class="top">
                                <div id="dog-name" th:value="${like.dogName}">[[${like.dogName}]]</div>
                                <button th:onclick="|deleteLikeDog(${like.dogNo})|" type="button" id="deleteBtn">X</button>
                            </div>
                            <div class="image">
                                <div id="img-wrap">
                                    <a th:href="@{/adopt/dogList/{dogNo}(dogNo=${like.dogNo})}">
                                        <img class="list-thumbnail" th:src="${like.imgPath + like.imgRename}" id="dog-img">
                                    </a>
                                </div>
                            </div>
                            <div id="dog-info">[[${like.dogBirthDay}]] / [[${like.dogGender}]]</div>
                            <div id="dog-kind">[[${like.breedName}]]</div>
                        </div>
                    </div>
                    
                    <button id="nextBtn" type="button">&gt;</button>
                </th:block>
            </div>
        </section>
    </main>

    <th:block th:replace="~{common/chatbot}"></th:block>
    <img th:src="@{/images/chat.png}" class="fixed-image" id="chat-image">
    <a th:href="@{/donation}"><img th:src="@{/images/donation.png}" class="fixed-image" id="donate-image"></a>
    
    <th:block th:replace="~{common/footer}"></th:block>

    <script th:src="@{/js/mypage/member/myPageLikeList.js}"></script>
</body>
</html>