<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이 페이지(유저)-예약 내역 있을 때</title>
    <link rel="stylesheet" th:href="@{/css/mypage/member/myPageReservationList_user.css}">
    <script th:src="@{https://kit.fontawesome.com/ac58eafae7.js}" crossorigin="anonymous"></script>
    
</head>
<body>

    <th:block th:replace="~{common/header}"></th:block>

    <main th:with="reservationList=${map.reservationList}">
        <!-- 사용자 마이페이지 타이틀 영역-->
        <section class = "userIntroArea">
            <div class = "userIntroTitle">
                예약 내역
            </div>
            <hr>
        </section>

        <!-- 사용자 마이페이지 내용 영역-->
        <section class = "userContentArea">

            <!-- nav 자리-->
            <nav class = "navUser">
                <th:block th:replace="~{common/nav_user}"></th:block>
            </nav>

            <!-- 내용 작성영역-->
            <div class = "userContentContainer">

                <div class="list-top">
                    <div>사진</div>
                    <div>정보</div>
                    <div>예약일</div>
                </div>
   
                <th:block th:if="${reservationList.isEmpty()}">
                    현재 예약 내역이 존재하지 않습니다.
                </th:block>

                <th:block th:unless="${reservationList.isEmpty()}">
                    <div class="list-bottom" th:each="reserve : ${reservationList}">
                        <div>
                            <a id="img-wrap" th:href="@{/adopt/dogList/{dogNo}(dogNo=${reserve.dogNo})}">
                                <img th:src="${reserve.imgPath + reserve.imgRename}" id="dog-img">
                            </a>
                        </div>
                        <div id="dog-info">
                            <div id="name">[[${reserve.dogName}]]</div>
                            <div id="kind">[[${reserve.breedName}]]</div>
                            <div id="age">[[${reserve.dogBirthDay}]]</div>
                            <div id="gender">[[${reserve.dogGender}]]</div>
                        </div>
                        <div id="reserve-date">[[${reserve.reserveDate}]] [[${reserve.reserveTime}]]</div>
                        <button th:onclick="|deleteReserve(${reserve.dogNo})|" id="cancle-btn" type="button">X</button>
    
                    </div>
                </th:block>

            </div>
        </section>
    </main>

    <th:block th:replace="~{common/chatbot}"></th:block>
    <img th:src="@{/images/chat.png}" class="fixed-image" id="chat-image">
    <a th:href="@{/donation}"><img th:src="@{/images/donation.png}" class="fixed-image" id="donate-image"></a>
    
    <th:block th:replace="~{common/footer}"></th:block>

    <script th:src="@{/js/mypage/member/reservationList_user.js}"></script>
</body>
</html>