<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>정보수정 (사용자) </title>
    
    <link rel="stylesheet" th:href="@{/css/mypage/member/updateInfo_user.css}">
    
    <script th:src="@{https://kit.fontawesome.com/ac58eafae7.js}" crossorigin="anonymous"></script>
</head>
<body>
	<!-- 헤더 -->
    <th:block th:replace="~{common/header}"></th:block>
	
    <main>
        <!-- 사용자 마이페이지 타이틀 영역-->
        <section class = "userIntroArea">
            <div class = "userIntroTitle">
                정보수정
            </div>
            <hr>
        </section>

        <!-- 사용자 마이페이지 내용 영역-->
        <section class = "userContentArea">

            <!-- nav 자리-->
            <nav class = "navUser">
                <th:block th:replace="~{common/nav_user}"></th:block>
            </nav>

            <!-- 내용 작성영역-->
            <div class = "userContentContainer">
                <form th:action = "@{/mypage/member/updateInfoUser}" th:object="${session.loginMember}" method = "POST" name ="updateForm" id="updateForm" class = "updateForm" enctype="multipart/form-data">
					
                    <div class = "updateElement">
                        <div class = "updateTitle formDogFlex">
                            <div class = "formProfile">
								
								<!-- 프로필 이미지가 없으면 기본 이미지 -->
								<img th:unless="*{memberProfile}" th:src="@{/images/member/profile_noImage.png}" id="profileImage">
								
								<!-- 프로필 이미지가 있으면 저장된 이미지 -->
                                <img th:if="*{memberProfile}" th:src="*{memberProfile}" id="profileImage">
                                
                            </div>
                        </div>

                        <div class = "updateInput updateImageFlex">
                            <label class = "profileBtnArea">
                                <input type="file" id="updateProfile" name="updateProfileImage" accept="image/*"/>
                                <div class = "formFont formMemberBtn ">
                                    프로필 사진 변경
                                </div>
                            </label>


                            <div class = "formFont formMemberBtn profileBtnArea" id="imgDelBtn">
                                이미지 삭제
                            </div>

                        </div>
                    </div>


                    <div class = "updateElement">

                        <div class = "updateTitle">
                            아이디
                        </div>

                        <div class = "updateInput">
                            <fieldset class = "updateFieldset" id = "updateId">
                                <input type = "text" name = "memberId" id = "updateId" class = "updateId" th:value = "*{memberId}" readonly>
                            </fieldset>
                        </div>

                        <div class = "updateBtn">
                        </div>

                    </div>

                    <div class = "updateElement">

                        <div class = "updateTitle">
                            현재 비밀번호
                        </div>

                        <div class = "updateInput">
                            <fieldset class = "updateFieldset">
                                <input type = "password" name = "memberPw" id = "updatePw" class = "updatePw" >
                            </fieldset>
                        </div>

                        <div class = "updateBtn">
                        </div>

                    </div>


                    <div class = "updateElement">

                        <div class = "updateTitle">
                            현재 비밀번호 확인
                        </div>

                        <div class = "updateInput">
                            <fieldset class = "updateFieldset">
                                <input type = "password" name = "updatePwCheck" id = "updatePwCheck" class = "updatePwCheck">
                            </fieldset>
                        </div>

                        <div class = "updateBtn">
                        </div>
                    </div>

                    <!-- 비밀번호 유효성 검사 -->
                    <div class = "updateValidationElement">
                        <div class = "updateProcessBox" id="pwMessage">
                            영어,숫자,특수문자(!,@,#) 6~20글자 사이
                        </div>
                    </div>

                    <div class = "updateElement">

                        <div class = "updateTitle">
                            이름
                        </div>

                        <div class = "updateInput">
                            <fieldset class = "updateFieldset" id = "updateName">
                                <input type = "text" name = "memberName" id = "updateName" class = "updateName" th:value = "*{memberName}" readonly>
                            </fieldset>
                        </div>

                        <div class = "updateBtn">
                        </div>

                    </div>

                    <div class = "updateElement">

                        <div class = "updateTitle">
                            전화번호
                        </div>

                        <div class = "updateInput">
                            <fieldset class = "updateFieldset">
                                <input type = "text" name = "memberTel" id = "updatePhone" class = "updatePhone" th:value = "*{memberTel}">
                            </fieldset>
                        </div>

                        <div class = "updateBtn">
                        </div>
                    </div>

					<!-- 전화번호 유효성 검사 -->
                    <div class = "updateValidationElement">
                        <div class = "updateProcessBox" id="telMessage">
                            '-' 없이 숫자만 입력
                        </div>
                    </div>
                  
                    
                    <div class = "updateElement">

                        <div class = "updateTitle">
                            이메일
                        </div>

                        <div class = "updateInput">
                            <fieldset class = "updateFieldset">
                                <input type = "email" name = "memberEmail" id = "updateEmail" class = "updateEmail" th:value = "*{memberEmail}">
                            </fieldset>
                        </div>

                        <div class = "updateBtn">
                            <div class = "updateEmailBtn" id="sendAuthKeyBtn">
                                인증번호<br> 받기
                            </div>
                        </div>
                    </div>
                    
                    <!-- 이메일 유효성 검사 -->
                    <div class = "updateValidationElement">
                        <div class = "updateProcessBox" id="emailMessage">
                            메일을 받을 수 있는 이메일 입력
                        </div>
                    </div>



                    <div class = "updateElement">

                        <div class = "updateTitle">
                            인증번호 입력
                        </div>

                        <div class = "updateInput">
                            <fieldset class = "updateFieldset">
                                <input type = "text" name = "updateEmailCheck" id = "updateEmailCheck" class = "updateEmailCheck">
                            </fieldset>
                        </div>

                        <div class = "updateBtn">
							<div class = "updateEmailBtn" id="checkAuthKeyBtn">
                                인증번호<br> 확인
                            </div>
                        </div>
                    </div>

                    <!-- 인증번호 유효성 검사 -->
                    <div class = "updateValidationElement">
                        <div class = "updateProcessBox" id="authKeyMessage"></div>
                    </div>


                    <div class = "updateElement">

                        <div class = "updateTitle">
                            닉네임
                        </div>

                        <div class = "updateInput">
                            <fieldset class = "updateFieldset">
                                <input type = "text" name = "memberNickname" id = "updateNickname" class = "updateNickname" th:value = "*{memberNickname}">
                            </fieldset>
                        </div>

                        <div class = "updateBtn">
                        </div>
                    </div>

                    <!-- 닉네임 유효성 검사 -->
                    <div class = "updateValidationElement">
                        <div class = "updateProcessBox" id="nickMessage">
                            한글,영어,숫자로만 2~10글자
                        </div>
                    </div>

                    <div class = "updateElement">

                        <div class = "updateTitle">
                            주소
                        </div>

                        <div class = "updateInput addressFlex">
                            <div class="updateAddressBorder">
                                <input type="text" name="memberAddress" id="sample6_postcode" placeholder="우편번호" maxlength="6">

                                <button type="button" class = "updateSearchBtn" onclick="sample6_execDaumPostcode()">검색</button>
                            </div>
            
                            <div class="updateAddressBorder">
                                <input type="text" name="memberAddress" id="sample6_address" placeholder="도로명/지번 주소">
                            </div>
            
                            <div class="updateAddressBorder">
                                <input type="text" name="memberAddress" id="sample6_detailAddress" placeholder="상세 주소">
                            </div>
                        </div>

                        <div class = "updateBtn">
                        </div>
                    </div>




                    <div class = "updateButtonArea">
                        <button class = "updateButtonBox">
                            수정하기
                        </button>
                    </div>




                </form>                    
            </div>
        </section>
    </main>
    
    <a th:href="@{/#}"><img th:src="@{/images/chat.png}" class="fixed-image" id="chat-image"></a>
    <a th:href="@{/#}"><img th:src="@{/images/donation.png}" class="fixed-image" id="donate-image"></a>
    
    <!-- 풋터 -->
    <th:block th:replace="~{common/footer}"></th:block>
    
    <!-- 주소 API -->
    <script th:src="@{//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js}"></script>
	<script>
	    function sample6_execDaumPostcode() {
	        new daum.Postcode({
	            oncomplete: function(data) {
	                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.
	
	                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
	                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
	                var addr = ''; // 주소 변수
	
	                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
	                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
	                    addr = data.roadAddress;
	                } else { // 사용자가 지번 주소를 선택했을 경우(J)
	                    addr = data.jibunAddress;
	                }
	
	                // 우편번호와 주소 정보를 해당 필드에 넣는다.
	                document.getElementById('sample6_postcode').value = data.zonecode;
	                document.getElementById("sample6_address").value = addr;
	                // 커서를 상세주소 필드로 이동한다.
	                document.getElementById("sample6_detailAddress").focus();
	            }
	        }).open();
	    }
	</script>
	
	<script th:inline="javascript">
		// th:inline="javascript"
		// - 타임리프를 script에서 사용 가능
		// - 타임리프에서 출력되는 값을 JS 에 맞는 자료형으로 변경 // 타임리프도 결국엔 java..
		
		// Natural Template
		// 1) js 문법 에러 발생 X
		// 2) html 파일만 단독으로 열었을 때 발생하는 에러 방지
		const loginMember = /*[[${session.loginMember}]]*/ "로그인한 회원정보"; // -> 이 형식으로 작성하면 js에서 타임리프 쓸 때 컴파일 에러 안남!
		
		if(loginMember.memberAddress != null) {
			const arr = loginMember.memberAddress.split("^^^");
			
			document.querySelectorAll("input[name='memberAddress']").forEach( (item, i) => {
				item.value = arr[i];
			} )
		}
		
	</script>
	
	<script th:src="@{/js/mypage/member/updateInfo_user.js}"></script>
</body>
</html>