<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>1:1 문의</title>
	<link rel="stylesheet" th:href="@{/css/mypage/member/userInquiry.css}">
	<script th:src="@{https://kit.fontawesome.com/ac58eafae7.js}" crossorigin="anonymous"></script>

</head>

<body> 
	<th:block th:replace="~{common/header}"></th:block>
	<main>

		<!-- 사용자 마이페이지 타이틀 영역-->
		<section class="userIntroArea">
			<div class="userIntroTitle">
				1:1 문의
			</div>
			<hr>
		</section>

		<!-- 사용자 마이페이지 내용 영역-->
		<section class="userContentArea">

			<!-- nav 자리-->
		    <nav class = "navUser">
                <th:block th:replace="~{common/nav_user}"></th:block>
            </nav>

			<!-- 내용 작성영역-->
			<div class="userContentContainer">
			
				<form th:action="@{/mypage/member/userInquiry}" method="post">
					<div class="fixedLabel">제목</div>
					<input type="text" id="title" name="inquiryTitle" class="inputBox" placeholder="제목을 입력하세요.">
			
					<div class="fixedLabel">내용</div>
					<textarea id="content" name="inquiryContent" class="inputBox textareaBox" placeholder="내용을 입력하세요."></textarea>
			
					<button type="submit" id="submitBtn" class="buttonBox">문의 등록</button>
				</form>
			
			</div>


			</div>
		</section>
		
	</main>
	<th:block th:replace="~{common/footer}"></th:block>
	<a th:href="@{/#}"><img th:src="@{/images/chat.png}" class="fixed-image" id="chat-image"></a>
	<a th:href="@{/#}"><img th:src="@{/images/donation.png}" class="fixed-image" id="donate-image"></a>
</body>

</html>