<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>1대1문의함 (사용자)</title>
	<link rel="stylesheet" th:href="@{/css/mypage/member/userInquiryBox.css}">
	<script th:src="@{https://kit.fontawesome.com/ac58eafae7.js}" crossorigin="anonymous"></script>

</head>

<body>
<th:block th:replace="~{common/header}"></th:block>
	<main>
		<section class="adminIntroArea">
			<div class="adminIntroTitle">
				1:1 문의함
			</div>
			<hr>
		</section>

		<section class="adminContentArea" th:object = "${inquiryList}">

			<!-- nav 자리-->
		    <nav class = "navUser">
                <th:block th:replace="~{common/nav_user}"></th:block>
            </nav>
	
			<div class="adminContentContainer">




				<div class="adminDonationContainer">
					<div class="tableFix">
						<table class="donationTable">

							<thead>
								<tr class="donationTheadTr">
									<th>번호</th>
									<th>제목</th>
									<th>작성일</th>
									<th>처리 상황</th>
								</tr>
							</thead>

							<tbody>	
								<!-- 1:1 문의가 없을 경우 -->
								<th:block th:if="${#lists.size(inquiryList)} == 0">
									<tr>
										<th colspan="4">1:1 문의가 존재하지 않습니다.</th>
									</tr>
								</th:block>
								
								<!-- 1:1 문의가 있을 경우 -->
								<th:block th:unless="${#lists.size(inquiryList)} == 0">
									<tr th:each="inquiry : ${inquiryList}" class="donationTBodyTr">
										<td>[[${inquiry.inquiryNo}]]</td>
										<td>[[${inquiry.inquiryTitle}]]</td>
										<td>[[${inquiry.inquiryDate}]]</td>
										<td>[[${inquiry.inquiryStatus}]]</td>
									</tr>
								</th:block>
							</tbody>
						</table>
					</div>


				</div>

				<div class="buttonArea">
					<a href="http://localhost/mypage/member/userInquiry" class="buttonBox" style="background-color: antiquewhite; font-size: 16px; border-radius: 5px;">문의 등록</a>
				</div>


				<!-- 페이지 네이션 -->
				<div class="paginationArea">
					<ul class="pagination">

						<!-- 첫 페이지로 이동 -->
						<li><a href="#">&lt;&lt;</a></li>

						<!-- 이전 목록 마지막 번호로 이동 -->
						<li><a href="#">&lt;</a></li>


						<!-- 특정 페이지로 이동 -->
						<!-- jsp 코드 
                            <c:forEach var="i" begin="${pagination.startPage}" end = "${pagination.endPage}" step="1">
                                
                                <c:choose>
                                    <c:when test="${i == pagination.currentPage }">
                                        <li><a class="current">${i}</a></li>
                                    </c:when>
                                    
                                    <c:otherwise>
                                        <li><a href="/board/${boardCode}/?cp=${i}${kq}">${i}</a></li>                  		
                                    </c:otherwise>
                                </c:choose>
                                
                            </c:forEach>
                            -->
						<li><a class="current">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
						<li><a href="#">6</a></li>
						<li><a href="#">7</a></li>
						<li><a href="#">8</a></li>
						<li><a href="#">9</a></li>
						<li><a href="#">10</a></li>



						<!-- 다음 목록 시작 번호로 이동 -->
						<li><a href="#">&gt;</a></li>

						<!-- 끝 페이지로 이동 -->
						<li><a href="#">&gt;&gt;</a></li>

					</ul>
				</div>

			</div>
		</section>
		<a th:href="@{/#}"><img th:src="@{/images/chat.png}" class="fixed-image" id="chat-image"></a>
		<a th:href="@{/#}"><img th:src="@{/images/donation.png}" class="fixed-image" id="donate-image"></a>s
</body>
</main>
	<th:block th:replace="~{common/footer}"></th:block>
</body>

</html>