<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>1:1 문의</title>

	<link rel="stylesheet" th:href="@{/css/mypage/member/userInquiryscs.css}">
	<script th:src="@{https://kit.fontawesome.com/ac58eafae7.js}" crossorigin="anonymous"></script>

</head>

<body>
<th:block th:replace="~{common/header}"></th:block>
	<main>
		<!-- 사용자 마이페이지 타이틀 영역-->
		<section class="userIntroArea">
			<div class="userIntroTitle">
				1:1 문의
			</div>
			<hr>
		</section>

		<!-- 사용자 마이페이지 내용 영역-->
		<section class="userContentArea">

			<!-- nav 자리-->
			    <nav class = "navUser">
                <th:block th:replace="~{common/nav_user}"></th:block>
            </nav>

			<!-- 내용 작성영역-->
		 <div class="userContentContainer">
                <div class="fixedLabel">제목</div>
                <input type="text" id="title" class="inputBox" th:value="${inquiry.inquiryTitle}" readonly>

                <div class="fixedLabel">문의 내용</div>
                <textarea id="content" class="inputBox textareaBox" th:text="${inquiry.inquiryContent}" readonly></textarea>

                <div class="fixedLabel">답변 내용</div>
                <textarea id="response" class="inputBox textareaBox" readonly></textarea>
            </div>
            
			<!-- 삭제 버튼 -->
			<form th:action="@{/mypage/member/deleteInquiry/{inquiryNo}(inquiryNo=${inquiry.inquiryNo})}" method="post">
				<button type="submit" id="deleteReview">삭제하기</button>
			</form>
			
			<script>
				document.getElementById('deleteInquiryButton').addEventListener('click', function (event) {
					var confirmDeletion = confirm('정말 문의 내용을 삭제하시겠습니까?');
					if (!confirmDeletion) {
						event.preventDefault();
					}
				});
			</script>
	
	<th:block th:replace="~{common/chatbot}"></th:block>
    <img th:src="@{/images/chat.png}" class="fixed-image" id="chat-image">
    <a th:href="@{/donation}"><img th:src="@{/images/donation.png}" class="fixed-image" id="donate-image"></a>
    
</main>
	<th:block th:replace="~{common/footer}"></th:block>
</body>

</html>