<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>1대1문의함 (사용자)</title>
	<link rel="stylesheet" th:href="@{/css/mypage/member/userInquiryBox.css}">
	<script th:src="@{https://kit.fontawesome.com/ac58eafae7.js}" crossorigin="anonymous"></script>

</head>

<body>
	<th:block th:replace="~{common/header}"></th:block>
	<main>
		<section class="adminIntroArea">
			<div class="adminIntroTitle">
				1:1 문의함
			</div>
			<hr>
		</section>

		<section class="adminContentArea" th:object="${inquiryList}">

			<!-- nav 자리-->
			<nav class="navUser">
				<th:block th:replace="~{common/nav_user}"></th:block>
			</nav>

			<div class="adminContentContainer">
				
				<div class="adminDonationContainer">
					<div class="tableFix">
						<table class="donationTable">

							<thead>
								<tr class="donationTheadTr" >
									<th>번호</th>
									<th>제목</th>
									<th>작성일</th>
									<th>처리 상황</th>
								</tr>
							</thead>


							<tbody style="overflow: auto;">
								<!-- 1:1 문의가 없을 경우 -->
								<th:block th:if="${#lists.size(inquiryList)} == 0">
									<tr>
										<th colspan="4">1:1 문의가 존재하지 않습니다.</th>
									</tr>
								</th:block>

								<!-- 1:1 문의가 있을 경우 -->
								<th:block th:unless="${#lists.size(inquiryList)} == 0">
									<tr th:each="inquiry : ${inquiryList}" class="donationTBodyTr">
										<td>[[${inquiry.inquiryNo}]]</td>
										<td>
											<a th:href="@{/mypage/member/userInquiryscs/{inquiryNo}(inquiryNo=${inquiry.inquiryNo})}"
												th:text="${inquiry.inquiryTitle}">제목</a>
										</td>

										<td>[[${inquiry.inquiryDate}]]</td>

										<th:block th:if="${inquiry.inquiryStatus == 'N'}">
											<td>처리중</td>
										</th:block>

										<th:block th:if="${inquiry.inquiryStatus == 'Y'}">
											<td>답변 완료</td>
										</th:block>

									</tr>
								</th:block>
							</tbody>
						</table>
					</div>
				</div>

				<div class="buttonArea">
					<a href="http://localhost/mypage/member/userInquiry" class="buttonBox"
						style=" width: 150px; height: 30px; background-color: #FEE4D6; font-size: 14px; border-radius: 5px;">문의
						등록</a>
				</div>



		</section>
		<th:block th:replace="~{common/chatbot}"></th:block>
		<img th:src="@{/images/chat.png}" class="fixed-image" id="chat-image">
		<a th:href="@{/donation}"><img th:src="@{/images/donation.png}" class="fixed-image" id="donate-image"></a>

</body>
</main>
<th:block th:replace="~{common/footer}"></th:block>
</body>

</html>