<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>1:1 문의</title>

	<link rel="stylesheet" th:href="@{/css/mypage/member/userInquiryscs.css}">
	<script th:src="@{https://kit.fontawesome.com/ac58eafae7.js}" crossorigin="anonymous"></script>

</head>

<body>
<th:block th:replace="~{common/header}"></th:block>
	<main>
		<!-- 사용자 마이페이지 타이틀 영역-->
		<section class="userIntroArea">
			<div class="userIntroTitle">
				1:1 문의
			</div>
			<hr>
		</section>

		<!-- 사용자 마이페이지 내용 영역-->
		<section class="userContentArea">

			<!-- nav 자리-->
			    <nav class = "navUser">
                <th:block th:replace="~{common/nav_user}"></th:block>
            </nav>

			<!-- 내용 작성영역-->
			<div class="userContentContainer">

				<div class="fixedLabel">제목</div>
				<input type="text" id="title" class="inputBox" value="집 가고 싶어요" readonly>

				<div class="fixedLabel">문의 내용</div>
				<textarea id="content" class="inputBox textareaBox" readonly>6시가 됐으면 좋겠다....</textarea>

				<div class="fixedLabel">답변 내용</div>
				<textarea id="content" class="inputBox textareaBox" readonly>얼른 집 가세요</textarea>


			</div>
		</section>
		<a th:href="@{/#}"><img th:src="@{/images/chat.png}" class="fixed-image" id="chat-image"></a>
		<a th:href="@{/#}"><img th:src="@{/images/donation.png}" class="fixed-image" id="donate-image"></a>
</body>
</main>
	<th:block th:replace="~{common/footer}"></th:block>
</body>

</html>