#main-container {
  
    padding: 1.5em 1.5em;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: fixed;
    /*
    margin-left: 54%;
    margin-top: 270px;
    */
   
    right: 1px;
    top : 353px;
    z-index: 200;
    width: 480px;
    height: 500px;
    margin-right: 5px;
}

button {
    cursor: pointer;
}

.chatLink {
    
    text-decoration: none; 
    color: black;
    margin-bottom: 30px;
    text-align: center;
    border-radius: 5px;   
    font-weight: bolder;
}

.chatLink:hover {
    color: goldenrod;
}



#content-container {
    max-height: 400px; /* 원하는 최대 높이로 설정 */
    overflow-y: auto; /* 세로 스크롤을 표시하도록 설정 */
}



#msg {
    width: 65%;
    margin-left: 20px;
    height: 30px;
    text-indent: 1em;
    border: 1px solid black;
    border-radius: 5px;
}


.container {
  
    opacity: 0;
    visibility: hidden; /* 초기에는 숨김 상태로 설정 */
    transition: visibility 0s, opacity 0.5s ease-in-out; /* 트랜지션 효과 추가 */
}

.visible {
    opacity: 1;
    visibility: visible; /* 보이게 함 */
}

.connectButton {
    width: 200px;
    height: 150px;
    margin-left: 40%;
    overflow: hidden;
   
    border-radius: 10px;
    cursor: pointer;
}

.connectButton img {
    max-width: 100%;
    max-height: 100%;
}

.sendButton {
    width: 50px;
    height: 30px;
    background-color: #FFF0E8;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 10px;
}

.selectButton {
    width: auto;
    height: 30px;
    background-color: #FFF0E8;
    text-align: center;
    font-size: normal;
    margin-bottom: 5px;
    cursor: pointer;
    border-radius: 5px;
}

#disconnect {
    margin-left: 70%;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    background-color: #FFF0E8;
}

.selectButton > p {
    margin-left: 10px;
    margin-right: 10px;
}


.form-group {
    display: flex;
    align-items: center;
}


/* 오른쪽 하단 후원, 챗봇 아이콘 */
.fixed-image {
    position: fixed;
    right: 50px;
    z-index: 100;
    width: 50px;
}

.fixed-image:hover {
    cursor: pointer;
}

#chat-image {
    bottom: 10px;
}

#donate-image {
    bottom: 70px;
}


.submenu a.underline {
    text-decoration: underline;
}