header{
    position:sticky;
     top : 0px;
     width: auto;
     height: 70px;
     display: flex;
 }
 
 .header-img{
    flex-basis: 15%;
 
    padding-top: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 
 .header-img > img{
 
     width: 200px;
     height: 85px;
    
 }
 
 .header-bar {
    flex-basis: 85%;
     width: 1600px;
     height: 70px;
     background-color: #FEE4D6;
     display: flex;
     align-items: center;
     justify-content: flex-start;
     padding: 0 20px;
     z-index: 1000;
     font-weight: bold;
 }
 
 
 .menu-items {
     display: flex;
     flex: 1;
     justify-content: space-around;
     padding: 0;
     margin: 0;
     list-style-type: none;
 }
 
 .menu-items li a {
     color: black;
     text-decoration: none;
     padding: 14px;
     white-space: nowrap;
     transition: color 0.3s, transform 0.3s;
 }
 
 .menu-items li a:hover {
     color: goldenrod;
     transform: scale(1.40);
 }