@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

.nanumgothic * {
 font-family: 'Nanum Gothic', sans-serif;
}

*{
    box-sizing: border-box;
    list-style : none; /* 리스트 스타일 X */
    text-decoration: none;
    padding: 0;
    margin: 0;
    font-family: 'NanumGothic', 'sans-serif';
}

/*************************************************
                    cardInfo 모달
*************************************************/
#cardModalBox{
    position: fixed;
    top: 0;
    left: 0;
    bottom : 0;
    right: 0;

    background-color: rgba(217,217,217,0.7);
    /* display: none; */
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 50;
}

#cardContentArea{
    background-color: white;
    width: 500px;
    height: 550px;
    padding: 10px ;
    border-radius: 15px;
    position: relative;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4); /* 그림자 효과 */

    display: flex;
    flex-direction: column;

}

/*************************************************
                 cardInfo display
*************************************************/
#cardClose{
    flex-basis: 4%;
    cursor: pointer;

    font-size: 15px;
    font-weight: 700;

    align-self: flex-end;
    display: flex;
    justify-content: end;
    padding-right: 5px;
}

.cardArea{
    flex-basis: 96%;

    padding:5px 5%;

    display: flex;
    flex-direction: column;
}


/*************************************************
                  카드 내용 
*************************************************/
.cardInfo{
    padding: 10px 10px;
    flex-basis: 20%;
    font-size: 14px;
    font-weight: 500;
}

.cardInfoFlex{
    display: flex;
    flex-basis: 20%;
    
}


.cardInfoInputArea{
    display: flex;
    
}


.cardInfoInputArea > span{

    padding: 5px 0px;
    flex :1;

    display: flex;
    justify-content: center;
    align-items: center;
}




.cardInfoInputArea > span > input{
    padding: 5px;
    width: 90%;
    height: 70%;
}


/*************************************************
                  카드  타이틀
*************************************************/

.infoTitle{
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
}

.infoTitle > img{
    height: 60px;
}

.infoTitle > div{
    font-size: 20px ;
    font-weight: 700;
}

/*************************************************
                카드  결제 금액
*************************************************/

.payAmountInfo{
    flex-basis: 30%;
    padding: 10px 0px;
    display: flex;
    flex-direction: column;

    border : 2px solid #fda1a1;
    border-radius: 5px;
}


.payAmountInfo >div{
    font-size: 16px;
    font-weight: 700;
}


.payAmountBox{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.payAmountBox >div{
    padding: 0px 0px 10px 0px;
    font-size: 16px;
    font-weight: 700;
}

.payPeriod {
    padding: 10px 0px 2px 80px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.payPeriod > div{
    padding: 5px 0px 0px 0px;
    font-size: 12px;
    font-weight: 400;
}


/*************************************************
                카드  유효, 비밀번호
*************************************************/
.expiryBox{
    padding-left: 10px;
    flex:1;
    font-size: 14px;
    font-weight: 500;
}

.pwdBox{
    padding-right: 10px;
    flex: 1;
    font-size: 14px;
    font-weight: 500;
}

#backPw{
    display: flex;
    justify-content: start;
}

/*************************************************
                생년월일
*************************************************/

#cardLeft{
    justify-content: start;
    padding-left: 5px;
}


#birth{
    width: 150px;
}

/*************************************************
                정기결제 동의
*************************************************/
.cardInfo >label{
    padding :0px 20px;
}

.regularCheckBox{
    padding : 0px;
}



/*************************************************
                정기 결제 버튼 
*************************************************/
.btnFlex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.regularBtn{
    width: 400px;
    height: 30px;

    border-radius: 10px;

    background-color: #fda1a1;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    font-weight: 700;
}

